[2013-08-23 07:43] nicoespeon opened #1 "Add a CONTRIBUTING.md"
Create a simple document to explain how to contribute to the project.

[2013-08-23 07:53] nicoespeon opened #2 "Add a Grunt workflow to the project"
The idea is to have a Gruntfile in order to perform tasks on the fly such as:
- lint JavaScript code through JSHint
- play unit tests over code
- create a release
- generate documentation

[2013-08-23 07:55] nicoespeon opened #3 "Add the project to Bower"
This library should be available with Bower to install as a front-end dependency.

We need to configure a `bower.json` file + register the project into Bower.

[2013-08-23 08:04] nicoespeon opened #4 "The first gitgraph should render on an example page"
It should work as a basis for `v0.1.0`.

[2013-08-23 08:05] #4 closed, assigned to fabien0102

[2013-08-23 08:06] nicoespeon opened #5 "Set a proper repo organization"
The repo should have the proper configuration of an external library.

[2013-08-23 08:15] nicoespeon opened #6 "Add basics to the README"
The README should contain basic information such as:
- A quick start (how to dowload the library)
- A word about bugs and feature requests
- A most explicit information about versioning
- Authors
- Copyright and License FTW

Then, when they will be implemented:
- How to get documentation (online or locally)
- A link to the `CONTRIBUTING.md`

[2013-08-23 08:17] nicoespeon opened #7 "Create an .editorconfig for contribution"
In order to share the same editor configuration, we can create an `.editorconfig` file that people can set to their IDE as explained at [http://editorconfig.org/](http://editorconfig.org/).

[2013-08-24 21:36] #5 closed, assigned to nicoespeon

[2013-08-27 08:12] nicoespeon opened #8 "Enables multiple orientation for presentation"
We should be able to choose to present the graph in different ways such as:
1. vertically, from the top to the bottom
2. vertically, from the bottom to the top
3. horizontally, from the left to the right
4. horizontally, from the right to the left

The default behavior should be n°1.

[2013-08-28 08:38] #7 closed, assigned to nicoespeon

[2013-08-28 08:48] #8 closed, assigned to fabien0102

[2013-08-28 15:01] fabien0102 opened #9 "Arrow orientation"
Arrows not following all orientations of graph.

[2013-08-29 14:53] nicoespeon opened #10 "Problem with some loops"
I don't understand the logic of some weird loops into the code.

For example:

[code]

I guess you where trying to improve performance, but the code here is wrong: the second part should be **a conditional expression**, but there is **an assignment** instead: `branch = this.branchs[i]`.

Hopefully it seems to work so far, but it's very weird and could generate problems later. I've found a bunch of

[2013-09-01 12:53] #2 closed, assigned to nicoespeon

[2013-09-01 17:16] nicoespeon opened #11 "Create a (basic) logo"
To enhance examples display and for communication, a very small and nice logo would be cool.

I guess you'll find something cool @fabien0102 ;-)

[2013-09-02 14:58] nicoespeon opened #12 "Remove possibility to merge without commit"
There is no sense in doing that: you cannot merge anything if you don't create a commit. There is no _lines_ without commits so we should not be able to merge a branch without anything =)

[2013-09-02 15:00] nicoespeon opened #13 "Problem with constructors "used before defined""
JSHint is triggering the following errors:

[code]

Indeed, constructors are used, then defined. We should wrap the whole code into an object or something like that in order to code properly.

A bit of refactor here =)

[2013-09-02 15:04] nicoespeon opened #14 "Allow users to specify orientation easily"
Currently, you change the orientation by changing the value of `spacingY` and `spacingX`. This is not intuitive at all.

The orientation should be specified differently, with some basics values (`"horizontal"`, `"vertical"`, `"reverse-horizontal"`, `"reverse-vertical"` for instance).

[2013-09-02 15:05] nicoespeon opened #15 "Create the Github Pages presentation for the project"

[2013-09-02 15:08] nicoespeon opened #16 "Add Travis CI to builds"

[2013-09-02 15:51] #6 closed, assigned to nicoespeon

[2013-09-03 19:18] nicoespeon opened #17 "Do not remove branch on merge"
We should be able to continue committing on a branch after having merge it.

[2013-09-03 19:20] nicoespeon opened #18 "There should not be lines after commits"
Lines are just here to link commits. We cannot have empty lines which doesn't end as a commit. Just have a look at git GUIs to see what I mean.

[2013-09-03 19:34] nicoespeon opened #19 "Missing arrows for branch off/merge commits"
There is no arrow at the end of lines that linked commits when branching off or merging a branch in the `blackarrow` template.

[2013-09-03 19:42] #12 closed, assigned to nicoespeon

[2013-09-03 19:45] nicoespeon opened #20 "Alternative display: hide commit messages"
An alternative display would be to hide commit messages on screen so the graph take less space, which would be better to present.

Doing so, we should be able to nicely display messages when we hover commits, so we keep the content.

[2013-09-07 15:59] #9 closed, assigned to fabien0102

[2013-09-08 14:44] #10 closed, assigned to fabien0102

[2013-09-08 21:51] #16 closed, assigned to nicoespeon

[2013-09-09 09:39] #19 closed, assigned to fabien0102

[2013-09-09 12:18] #18 closed, assigned to fabien0102

[2013-09-10 09:04] #17 closed, assigned to fabien0102

[2013-09-11 08:09] nicoespeon opened #21 "Problem with compact mode when merging"
I found a case where there is a problem when merging in compact mode.

If we try to merge a branch which is just ahead from its parent, the commit merge is at the same position than the last commit of the branch, so it doesn't render properly (even worse with arrows).

Try the following code:

[code]

[2013-09-11 08:11] nicoespeon opened #22 "Canvas should render automatically when modified"
So far we should not forget to write a `gitGraph.render();` to produce the graph.

What would be nice is the graph to render everytime we are doing a modification, so we can have a dynamic output and its use would be more straightforward.

[2013-09-11 08:14] nicoespeon opened #23 "Create orphans branchs"
I think that, for now, when we are creating a branch it's based on the one we currently are.

We should be able to create a new branch without any parent (it didn't seem to work so far).

We could also create a handy method `orphanBranch( )` for that, which would just be an alias.

[2013-09-11 20:19] #21 closed, assigned to fabien0102

[2013-09-12 14:44] #22 closed, assigned to fabien0102

[2013-09-12 15:42] fabien0102 opened #24 "Size calculation bug on first branch"
`master.merge(dev)` after demo = ugly thing

cf: L426

[2013-09-12 15:44] fabien0102 opened #25 "New branch bug"
`var plop = gitGraph.branch('plop').commit();` -> Ugly thing too...

Bug appends when the last commit isn't the start point of new branch

[2013-09-12 17:43] #25 closed, assigned to fabien0102

[2013-09-13 10:12] #24 closed, assigned to fabien0102

[2013-09-13 13:47] #13 closed, assigned to nicoespeon

[2013-09-13 15:58] #20 closed, assigned to fabien0102

[2013-09-13 18:21] #14 closed, assigned to fabien0102

[2013-09-13 22:16] #23 closed, assigned to fabien0102

[2013-09-14 10:40] nicoespeon opened #26 "Bug with documentation generation and IIFE"
The IIFE makes the documentation weird: there is no index anymore.

[2013-09-15 11:44] fabien0102 opened #27 "No tooltip in Firefox..."
Tooltips are working on chrome and IE, but nothing on Firefox.

[2013-09-15 12:42] #26 closed, assigned to fabien0102

[2013-09-15 16:56] nicoespeon opened #28 "Refactor unit tests"
I'll handle that.

Currently, this is not exactly the way we should test as we don't reset the environment for each test, so we might have some regressions problems.

Still, this is not bad at all - GG @fabien0102 =)

Cf. commit ef376d6

[2013-09-16 08:11] #27 closed, assigned to fabien0102

[2013-09-16 12:10] #11 closed, assigned to fabien0102

[2013-09-16 12:14] #3 closed, assigned to nicoespeon

[2013-09-16 15:36] #1 closed, assigned to nicoespeon

[2013-09-18 22:25] fabien0102 opened #29 "Create branch from another one"
`master.branch()`
`master.orphanBranch()`

[2013-09-18 22:25] fabien0102 opened #30 "Refactor detail to detailID"

[2013-09-19 11:52] #29 closed, assigned to fabien0102

[2013-09-19 11:52] #30 closed, assigned to fabien0102

[2013-09-19 12:26] fabien0102 opened #31 "Automatize release process"
I'm lazy as you know, so I want use grunt-git for automatize release process (create release-branch, compiled, some commits, merge and checkout on develop).

[2013-09-19 12:26] #15 closed, assigned to fabien0102

[2013-09-19 18:30] #31 closed, assigned to nicoespeon

[2013-09-19 18:37] nicoespeon opened #32 "Canvas doesn't render sometimes with Chrome / Safari"
The graph doesn't render on screen in certain configuration. We didn't isolate the source of the bug yet, it occurs only with special configurations.

It happens only on certain browsers, with certain OS:
- Chrome 29.0.1547.76 on Mac OS 10.7.5
- Safari on iPhone 4S (5.0.1)

[2013-09-19 18:37] nicoespeon opened #33 "Create a favicon for the landing page"

[2013-09-19 18:39] nicoespeon opened #34 "Add the technical docs to the landing page"

[2013-09-19 21:27] #32 closed, assigned to nobody

[2013-09-19 21:39] #34 closed, assigned to nicoespeon

[2013-09-19 23:30] nicoespeon opened #35 "Add a direct download link of last build"
We should add a link to download a .zip containing the build (minified OR development version) so people can just get the library without cloning the project.

[2013-10-30 10:31] nicoespeon opened #36 "Update the website with documentation"
Basically, we're talking about revamping http://gitgraphjs.com/

The website should have:
- a presentation of the lib
- instructions how to set up
- documentation that shows use-cases & source code for the different rendering libs

Ideally, I'd like this to be able to reuse our stories so it won't be too hard to maintain.

## Inspiration

- [Twitter Bootstrap functional documentation](http://getbo

[2013-12-21 21:04] Chumper opened #37 "Add a size option"
Hey, just found this graph drawe and it looks really nice.

Sometimes i wish i could be a little bit smaller in general and i saw that you have some kind of size options at the end of the file, so i thought about giving an option to set the size of the dots as a reference.

[2014-01-06 19:00] #37 closed, assigned to nobody

[2014-04-16 07:38] TesloCosmin opened #38 "Render graph from JSON"
It would be nice to have the possibility to render the graph automatically from JSON data (coming from an Ajax call for example), including the options for customizing dots, arrow, branches, message and so on.

[2014-06-07 17:36] nicoespeon opened #39 "Emit events when we interact with the graph"
A user pointed out that it would be nice to implement some events we can listen to we there is interactions with the graph. Doing so we could handle specific triggers in our code (such as opening some crazy stuff while we are hovering a commit, etc.).

We could imagine that kind of events:
- [x] `commit:mouseover` when mouse is over a commit

Feel free to suggest clever events in comments below =)

[2014-07-09 11:50] mrenvoize opened #40 "Git Branches Overlap"
I'm not sure if this is a bug or a lack of understanding/documentation reading on my part.

I have an example graph available at: http://gitgraph.ptfs-europe.co.uk/koha/

From the example you can see that the initial branch crosses other branches, but by moving that first branch further down, you could display a clearer tree without the crossovers.

I'm basically trying to diagrammatically show a

[2014-09-26 19:30] JobaDiniz opened #42 "How can I use this to show my repository graph?"
I have a repository and wanted to show its graph using this lib, is that possible?

[2014-09-28 16:57] #28 closed, assigned to nicoespeon

[2014-10-24 12:02] pomeh opened #44 "Some suggestions"
I just discovered your library, and I really like it :)

Here are some suggestions:
- [x] Add link to website http://gitgraphjs.com/ in the main GithHub repository page ([in this page](https://github.com/nicoespeon/gitgraph.js), next to Description)
- [x] Add link to the GitHub repository in the project page ([in this page](http://gitgraphjs.com/))
- [x] Add screenshot next to all code examples in

[2014-11-13 09:47] johnny-bui opened #45 "Option to turn off the hash value before commit"
How can I turn off the hash value before every commit (extended mode)?

[2014-11-14 18:30] onionjake opened #46 "Add option to reverse arrows"
There should be an option to reverse the direction of the arrows for commits.  It might be easier to read with the arrows following time, but the commits in the DAG of Git point to their parents so for a more accurate graph the arrows need to be reversed.

Here is a fiddle showing one the regular direction, and how one should look using the reverse option:

http://jsfiddle.net/09h4astw/4/

The pro

[2014-11-16 00:13] nicoespeon opened #48 "Update documentation"
List of things to add:

- [x] `commit:mouseover` event when hovering a commit, with a bunch of data (author, message, date, sha1) (see #39)
- [x] Tag system (see #59)
- [x] Displaying branch names (see #66)
- [x] Enable to specify the column index of a branch
- [x] `onClick` on commits (see #76)
- [x] `tooltipHTMLFormatter` for templates

[2014-11-16 00:17] #39 closed, assigned to nicoespeon

[2014-12-14 08:29] idantr opened #49 "Git Branches overlap when using .delete()"
Hi Guys,
We are using this opensource and it fits to our needs, it's great
but we have the issue of overlapping branches, in previous topics here you suggested using the .delete() once you do not use a branch any more,
I was using it after merging branches on the old branch that no longer continue...
but there is a bug once you .delete() a branch, in the next drawings if a commit has 2 children( 2

[2014-12-16 13:47] dwelle opened #50 "Fit inside wrapping container (or allow custom width)"
mainly for horizontal graphs.

[2015-02-20 22:51] ddidier commented on #45
See #53

[2015-02-21 11:21] johnny-bui commented on #45
Thank you,
I'll use it for my Uni project.  :)

On 02/20/2015 11:51 PM, David DIDIER wrote:

[2015-03-01 10:19] nicoespeon commented on #45
Issue fixed with #53 — thanks a lot @ddidier

You can now turn off hash value using options:

[code]

[2015-03-01 10:19] #45 closed

[2015-03-04 08:00] MatthiasLohr opened #55 "Show markers on commits"
It would be a really nice feature if there's a option for adding permanently visible labels to commit points - e.g. for displaying tag names etc. It would be important not to have to use mouse over for showing the information (e.g. for presentations and other kinds of non-interactive stuff).

Best regards
Matthias

[2015-03-05 07:33] nicoespeon commented on #55
Hi @MatthiasLohr!

Thanks for the feedback.

I guess you're talking about the `"compact"` mode in which tooltips are displayed with commit information when mouse is over.

Then, does the `"extended"` mode fills your need? It displays commit messages / authors / hash permanently. However, the graph is a bit "longer", but that's may be a question of template only.

[2015-03-11 08:25] MatthiasLohr commented on #55
Hey,

no, ```extended```/```compact``` mode is not what i mean. In ```extended``` mode *all* labels are shown (btw: not in ```horizontal``` orientation). What i need is something like (git) tags, for labeling only some special commits.

I'm using gitgraph.js in a reveal.js slideshow for introducing git in developer teams and sometimes it would be really helpful to annotate single commits with "thi

[2015-03-15 15:10] nicoespeon commented on #55
Hi @MatthiasLohr,

Yep I understand what you need, and yep there is no workaround for now.

That could be a useful feature for non-interactive presentations indeed, I'd find something for that. Thanks a lot for the feedback =)

[2015-04-23 07:26] nicoespeon opened #58 "Give options for arrow to point parents instead of children"
We decided to make arrow point children commit to illustrate the timeline.

However, for educative purpose — and better semantics — it's certainly better for the arrow to point the parent, so we illustrate the dependency.

[2015-04-26 09:40] nicoespeon commented on #58
Actually, this was already planned with #46 \o/

[2015-04-26 09:40] #58 closed

[2015-05-06 12:38] mekwall opened #59 "Add method to add tags"
It would be great if we could add tags that are visually different from commits.

[2015-05-07 08:42] nicoespeon commented on #59
That could be a great idea indeed =)

[2015-05-19 12:34] dervalp opened #60 "vertical-reverse does not seem to work."
I have tried to use the orientation 'vertical-reverse' for this example (https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.html) but nothing is displaying?

Any idea?

[2015-05-28 15:36] cedricms opened #61 "Enable events on commits"
I hope haven't missed the feature, but I'd like to be able to add events on clicks on commits (be it left or right clicks).

The idea is to be able to show the diff of the commit in another view, or bring up a menu that enables a checkout, ...

[2015-05-31 23:38] #42 closed

[2015-05-31 23:44] nicoespeon commented on #60
Hi @dervalp!

That's strange cause it seems to work here. How did you try that?
Technically, modifying

[code]
https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.js#L29-L32

into

[code]

should do the trick.

[2015-05-31 23:52] nicoespeon opened #62 "Add csscomb.js in the grunt workflow"
Good idea from #44

[2015-05-31 23:53] nicoespeon opened #63 "Add JavaScript Code Style Checker in the grunt workflow"
Good idea from #44

[2015-05-31 23:54] nicoespeon commented on #44
Created independent issues for what's left :smiley:

[2015-05-31 23:54] #44 closed

[2015-05-31 23:59] nicoespeon opened #64 "Refactor dev environment / architecture"
The idea is to improve / update the dev environment to work on GitGraph so it'd become easier to maintain it.

In the list:
- [ ] modularize code into smaller files (browserify or, even better, ES6 modules)
- [ ] better architecture for testing / deploying
- [ ] better tool that Grunt: Brunch seems to be a good candidate, coming with its "right way"
- [ ] make tests still work with new architectur

[2015-06-01 00:02] nicoespeon opened #65 "Refactor GitGraph in a functional way"

[2015-06-01 00:15] #33 closed

[2015-06-01 00:26] #35 closed

[2015-06-10 09:23] timlegrand opened #66 "Add option to display branch names at the top"
hi, it would be great to have a config option display branch name at branch start or current state.
I can't make it print "master" or "develop" at this time.

Great work anyway!
Thanks

[2015-06-11 08:01] ckruczek opened #67 "Adding support for 'fast-forward' merge"
Hey guys,

I am pretty stuned about your work, and really like to use the library moreover. One little feature  I was missing is the `fast-forward` merge. In this example http://jsfiddle.net/guan1oz1/101/ I would expect to get a clear liniear history because thats clearly a fast-forward. Did i missed a option or something?

[2015-06-11 19:25] nicoespeon commented on #67
Hi @ckruczek,

Thanks a lot for your feedback.
I'm not sure I can see where the fast-forward should appear in your gist since you committed in both branches before calling `.merge()`, but there still miss a `fast-forward` option anyway :smiley:

I'll add this to the roadmap. Thanks for the use case :wink:

[2015-06-11 19:28] nicoespeon commented on #66
Hi @timlegrand,

Yep, that could be useful and quite easy to achieve.
Thanks for the feedback ;-)

[2015-06-11 19:34] ckruczek commented on #67
Thanks for your comment. I missed saving my gist before adding it to the issue. So I will update this and a new gist later. Thanks for your tip.

[2015-06-12 12:48] ckruczek commented on #67
As I already told,here is the updated version of the [giddle, jiddle what ever...](http://jsfiddle.net/guan1oz1/101/) This could clearly result in a fast-forward because master did not diverged after develop was branched off. Thanks for adding it as feature! Really appreciate it.

Kind regards

ckruczek

[2015-06-12 13:08] nicoespeon commented on #67
Yup, thanks for the fiddle, that will be useful :+1:

[2015-06-17 09:12] timlegrand commented on #66
I created a pull request as a first step for that purpose: #69
Next step is to add a `nameOnTop` option for branches and render it. Working on it.

[2015-06-22 06:15] nicoespeon commented on #66
Merged your PR :+1:

Do you wish to keep this issue open or do we plan a "Give option to display branch name on top" enhancement for later?

[2015-06-22 08:57] timlegrand commented on #66
I'd go for the option (I already started the code) if you want.

2015-06-22 8:15 GMT+02:00 Nicolas Carlo <notifications@github.com>:

[2015-07-15 17:46] sourtin commented on #49
I believe the reason for this is that, after a deletion, the calculColumn algorithm searches through all branches, deleted and undeleted, and returns the first column from a deleted branch. The problem is that it continues to use this column every time and so you get the behaviour seen in your first screenshot. Hopefully my [pull request](https://github.com/nicoespeon/gitgraph.js/pull/72) should f

[2015-07-15 17:56] ringlej commented on #49
@sourtin I solved the problem is a different way See my [pull request](https://github.com/nicoespeon/gitgraph.js/pull/71). My develop branch also adds some nice features to label branches and create tags

[2015-07-15 18:16] sourtin commented on #49
Cool, you've got some very nice features in there :) I'm not sure that does solve the problem however: Consider someone creating four branches, `a`, `b`, `c` and `d`. Now delete branch `c` and create a new branch `e`, it will correctly go in the third column and you will again have four adjacent columns: `a b e d`. Now remove branches `d` and `e`. The `branchs` array is `[A(1) B(2) *(3) d(4) e(3)]

[2015-07-15 18:32] ringlej commented on #49
Your right. I merged your patch into my develop branch. Thanks!

[2015-07-15 18:36] sourtin commented on #49
No problem, thanks!

[2015-07-15 20:18] sourtin opened #73 "Non-functional on iOS"
Gitgraph doesn't seem to work at all in Safari on iOS 8.3. I don't have an android phone to check, so maybe it works there. Interestingly I can't seem to find any errors or warnings relating to the canvas, and the detail boxes are moved to their correct positions and displayed, so the script seems to be running properly but the canvas is blank.

[2015-07-15 20:22] nicoespeon commented on #73
Hi @sourtin!

I'm afraid this sounds familiar to me. In fact, this probably due to the OS + browser which makes canvas kept blank if you go over 4096px, something like that.

We ran into this kind of issue here: https://github.com/nicoespeon/gitgraph.js/issues/32

Is it the same issue you're running into?

[2015-07-15 20:29] sourtin commented on #73
Hi @nicoespeon,
You're right, it's the same issue -- I just tried changing the scalingFactor down to 0.2 and it displayed! Hopefully the fix will reach iOS soon. Thanks for the quick reply!

[2015-07-15 20:29] #73 closed

[2015-07-15 20:49] sourtin commented on #73
This is fixed in iOS 8.4

[2015-07-15 21:00] nicoespeon commented on #49
Fixed with #72, thanks @sourtin :+1:

[2015-07-15 21:00] #49 closed

[2015-07-18 13:35] vnavarro commented on #59
@nicoespeon I added a PR with a proposed solution for this feature :smile:

[2015-07-20 05:24] nicoespeon commented on #59
Awesome @vnavarro :+1:

I'll take a closer look at it within the next days and will let you know.

[2015-07-25 09:27] #66 closed

[2015-07-25 09:30] nicoespeon commented on #60
I'm pretty confident this works with last merged PR. Feel free to re-open if you see any bug :wink:

[2015-07-25 09:30] #60 closed

[2015-07-25 10:14] nicoespeon commented on #59
Implemented with #71

[2015-07-25 10:14] #59 closed

[2015-07-25 10:20] nicoespeon commented on #55
Hi @MatthiasLohr !

With the new tag system is addressing your request. You could tag any commit with `myBranch.commit( { message: "My message", tag: "my-tag" } )`.
Works for merge commit too -> `feature.merge( master, { tag: "v1.1.0 } )`.

Let me know if that's good for you. Feel free to re-open if not ;-)

[2015-07-25 10:20] #55 closed

[2015-07-27 17:48] nicoespeon opened #75 "Refactor the way we create tag to add a `.tag()` command"
You can tag any commit using `.commit( { message: "My message", tag: "a-super-tag" } )`.

If we want to mimic the way we use git, we'd rather commit, then tag. Well that's the idea, it would be nice to get a `.tag( "a-super-tag" )` command to tag current HEAD — that would be a good start.

See: https://github.com/nicoespeon/gitgraph.js/pull/74

[2015-07-28 09:07] terhechte commented on #61
I've created a pull request for onClick events on commits here: https://github.com/nicoespeon/gitgraph.js/pull/76

Cheers!

[2015-08-02 13:40] cedricms commented on #61
Thank you very much :) !

[2015-08-14 00:09] xortim commented on #40
I'm also trying to implement a gitflow-like graph and ran into this same issue. It definitely adds complexity to the illustration. This is definitely one of those easy to explain but more difficult to implement features.

[2015-09-12 23:03] ekocode opened #80 "event attributes readonly error"
hello,
great job for gitgraph :) thx...

I found a bug with the event.offsetX. event attributes are read only (on chrome)
I fix the error like that :

I changed event.offsetX for event_offsetX

    // Fix firefox MouseEvent
    var event_offsetX = event.offsetX ? event.offsetX : event.layerX;
    var event_offsetY = event.offsetY ? event.offsetY : event.layerY;
    var event_x = event.x ? event.x

[2015-09-13 11:46] sielay commented on #80
+1

[2015-09-23 07:47] noisy commented on #38
:+1:  for this feature request! Do you know guys is there any standard of JSON format, which could be used for that?

[2015-10-30 07:35] thombergs opened #81 "Details are not displayed when orientation is "vertical-reverse""
When I set the orientation of a git graph to "vertical-reverse" the details I specified via the "detailId" option are no longer displayed. When I switch back to "vertical" the details are displayed again.

[2015-11-19 22:43] julenpardo opened #82 "Non-ascii characters not encoding properly"
Hi,

I'm spanish and I'm dealing everytime with extrange characters (ñ, á, é, etc.). And I've noticed that this chars are not displayed correctly in the render, .e.g, in commit messages.

Thank you and congrats for your work.

[2015-11-20 06:41] nicoespeon commented on #82
Hi @julenpardo!

Thanks for reporting, I'll have a look at this encoding issue ;)

[2015-11-20 08:07] julenpardo commented on #82
Hi @nicospeon,
It was my fault; I didn't set properly page's encoding.

Sorry for the inconvenience.

[2015-11-20 08:07] #82 closed

[2015-11-20 08:08] nicoespeon commented on #82
No problem, glad to hear that your problem is solved :+1:

[2015-11-23 21:49] nicoespeon commented on #61
Thanks @terhechte so much for this feature by the way.

You can attach a `onCommit` callback to any commit. It takes the clicked `commit` object as parameter:

[code]

[2015-11-23 21:49] #61 closed

[2015-11-23 21:50] nicoespeon commented on #50
Note for later: 6d0ddf456ff5dcc3df5b3e2f71a70ca6dfdf5a42 might be helpful

[2015-11-23 21:51] nicoespeon commented on #80
Thanks for reporting, will have a look ;-)

[2015-11-23 21:54] nicoespeon commented on #80
@ekocode > as you reported having troubles with Chrome and this snippet of code, I wonder if that's still the case since we now ensure to target Firefox specificly: https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L334-L340

Could you confirm the bug still exist then? Thank you so much :smiley:

[2015-11-24 11:13] nicoespeon opened #83 "Add live examples next to code snippets in project's main page"
Along to every code snippet presented on the [project's main page](http://gitgraphjs.com) we could put a live example to illustrate what it does.

This would be useful to show customization options (tags, tooltips, template formatting…). Not just in code.

[2015-11-24 11:16] nicoespeon commented on #48
Done, will be released with v1.1.0

[2015-11-24 11:16] #48 closed

[2015-11-25 12:03] mksplg opened #84 "Detail not shown in example"
Even though there is a commit with a detail in the [example](https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.html) it is not shown because the [detailId](https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.js#L84) is not provided.

[2015-11-25 12:08] mksplg opened #85 "Details displayed too far on the left"
Since commit f61f29b1b21d69c52b75069f78622c8f8070ec86, details are not positioned with the same indentation as the commit messages.

This can be seen in the [example](https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.html) (after fixing #84 :)).

[2015-12-03 16:29] Martin1994 opened #86 "Branch from a previous commit"
These codes won't work properly:
[code]

Should looks like this:
[code]

But looks like this:
[code]

[2015-12-03 16:36] Martin1994 opened #87 "More rendering control"
Here are some suggestions:

1. Expose pixel ratio or unscaled resolusion. I need to draw `GitGraph` into another canvas, but the style attribute may be changed by other codes.

2. Add `ondraw` event.

[2015-12-04 16:56] Martin1994 opened #89 "Reverse doesn't work"
Vertical-reverse (or vertical with positive spacingY whatever, which really confuses me) doesn't work on 1.1.0, but works on 1.0.0 (http://gitgraphjs.com/js/gitgraph.min.js).

On 1.1.0, nothing will be drawn.

[2015-12-06 14:16] #80 closed

[2015-12-06 14:20] nicoespeon commented on #87
Hi @Martin1994!

Thanks for the suggestions & other bug reports / PRs.

Will have a look on all of this as soon as I can :smiley:

[2015-12-07 19:51] Martin1994 commented on #89
Update: only works on 1.0.0, even doesn't on 1.0.3

[2015-12-13 21:26] furiousOyster opened #90 "in http://gitgraphjs.com/ header, 'Branchs' should be spelt 'Branches'"

[2015-12-14 08:10] nicoespeon commented on #90
That's true, thanks for noticing!

[2015-12-21 11:03] #90 closed

[2015-12-21 15:40] furiousOyster commented on #90
:D

[2015-12-27 20:08] potherca commented on #85
This can also be seen in the following screenshot :wink:
<img width="1098" alt="screen shot 2015-12-27 at 21 07 19" src="https://cloud.githubusercontent.com/assets/195757/12011799/e390be6a-acdd-11e5-85fb-716213d9de65.png">

[2016-01-09 08:54] #84 closed

[2016-01-09 09:15] #85 closed

[2016-01-10 14:39] potherca commented on #38
Looks like there isn't really a git-graph specific format. There's the format used in [the Github API](https://developer.github.com/v3/repos/commits/) and [the Bitbucket API](https://confluence.atlassian.com/bitbucket/commits-or-commit-resource-389775478.html), which are both different.

There's also the more generic [JSON Graph Format](https://github.com/jsongraph/json-graph-specification) and th

[2016-02-04 10:45] nicoespeon commented on #81
Actually this is not a bug but a lack of implementation as you can see here: https://github.com/nicoespeon/gitgraph.js/commit/e7368374

I updated the label to illustrate the enhancement requirement.
Thanks for pointing out the need.

[2016-02-04 10:49] #89 closed

[2016-02-05 07:39] nicoespeon commented on #87
Hi @Martin1994,

I'm adding all this to GitGraph but I'd need some clarification about your first point: would it be useful to *know* the scale ratio or to be able to *override* it? Hence, would you rather deal with the scale ratio or the unscaled resolution?

Thanks for your feedbacks =)

[2016-02-05 22:21] Martin1994 commented on #87
Hi @nicoespeon ,

Knowing the scale ratio is enough. Maybe it's a good idea to add a parameter in the constructor, but no need to mutate it.

I need to draw it into another canvas. Thus I need to know the dimensions in virtual pixels. With this feature, I think it will be easier to use `GitGraph` with other canvas libraries on high-res devices.

[2016-02-06 08:30] #87 closed

[2016-02-08 21:29] bpatra opened #97 "Support for commit:mouseout"
There is an event *commit:mouseover* that is emited by the gitgraph.js code when the mouse is over a commit.
See the following example where we change the mouse cursor when the mouse enters a commit
[code]
Similarly it will be useful to have a *commit:mouseout* event. For example, this can be used to change the mouse cursor when hovering a commit.

[code]

[2016-02-08 21:37] #46 closed

[2016-02-09 07:01] nicoespeon commented on #97
Hi @bpatra and thanks for this useful proposition.

Works like a charm, it will be part of the next release :+1:

[2016-02-09 07:26] #97 closed

[2016-02-09 21:38] bpatra opened #101 "Spacing between branch is not consistent"
When we have a git graph with several branches the x-space between branches is not consistent. It results on a not very nice looking graph. I do not think this is intentional.

![badbranchesspaces](https://cloud.githubusercontent.com/assets/2801702/12931397/cd0363ec-cf7d-11e5-90d0-51860c97a8c8.jpg)

[2016-02-09 21:41] bpatra commented on #101
I have created a reproduction case on my fork to reproduce the issue https://github.com/bpatra/gitgraph.js/commit/a39e1066dd102b3d0a70fc77255f19cdc56220d5

[2016-02-10 21:23] nicoespeon commented on #101
Hi @bpatra and thanks a lot for reporting such a detailed use case :+1:

[2016-02-10 22:43] bpatra commented on #101
Thank you, I need this fix soon, I will try to create a PR.

[2016-02-21 17:45] bpatra commented on #101
There is no bug, it was linked to the way I was rendering the graph using the recursive algorithm.

[2016-02-21 17:45] #101 closed

[2016-02-21 21:38] orao commented on #86
I would like to provide an additional use case for this issue. _Though not standard git flow I do have a need for this funky merge type in my [ac2git](https://github.com/orao/ac2git) conversion._ The following is an [example of the incorrect rendering](http://jsfiddle.net/guan1oz1/468/), while I would expect it to look something like [this workaround](http://jsfiddle.net/guan1oz1/470/).

Additiona

[2016-03-17 13:42] beckerIGG opened #102 "Option to switch off the tooltip in compact mode"
Hi,

i would like to switchoff the tooltip in compact mode. but i do not know how. I wrote my own tooltip for extended and compact mode. but know in compact mode i have both. my own one and the gitgraph tooltip, any ideas how to swith it off in minified version?
also i couldn't bring the commit:mouseout Eventlistener to work. i used now a one directly for the canvas element. Any ideas on that?

TH

[2016-03-17 14:49] bpatra commented on #102
I am not sure I understand correctly. You want your tooltip to be disabled in some cases, am I right ?what about using a css class in your html tooltip with display:none ?

[2016-03-17 14:53] beckerIGG commented on #102
Hi,

no i want to disable the gitgraph tooltip all the time. Any chance to do
this?

BR Thomas
Am 17.03.2016 um 15:49 schrieb Benoît Patra:

[2016-03-17 16:18] nicoespeon commented on #102
Hi @beckerIGG!

I can confirm you that, for now, tooltips automatically appear when you’re in compact mode and there is no simple way that comes to my mind to achieve what you’d like to do.

I guess we can give an option for that. I’ll let you know.

Concerning the event issue: which version of gitgraph do you use? It was recently merged but wasn’t part of a release yet (= not in `v1.1.3`).

[2016-03-17 16:22] beckerIGG commented on #102
Hi,

i am using v.1.1.3. i will try to use the extended mode, so far.

BR Thomas
Am 17.03.2016 um 17:18 schrieb Nicolas Carlo:

[2016-03-17 16:25] nicoespeon commented on #102
Ok, that’s why you don’t have mouseout events by the way.

I’ll add this option and do a patch release by the end of the week with all of these =)

[2016-03-17 16:30] beckerIGG commented on #102
Thanks a lot.

BR Thomas
Am 17.03.2016 um 17:25 schrieb Nicolas Carlo:

[2016-03-19 09:01] #102 closed

[2016-03-19 09:16] nicoespeon commented on #102
There you go @beckerIGG, `v1.2.0` is out with anything you need.

To disable tooltips:

[code]

[2016-03-25 13:42] Jayde-Im opened #103 "Tag alignment"
Your work is great, and I appreciate using it.

But one little part is bothering me.
When the font sizes of the tag and the message are different and tag name is long, the tag is not properly aligned.

I'm using this template in the latest version of gitgraph.js. (Also, latest version of Chrome)
[code]

And this is an example,
I apply this template to gitflowsupport.js, it looks like below.

![ima

[2016-03-29 05:53] nicoespeon commented on #103
Hi @Jayde-Im!

Thanks a lot for spotting out this and for the PR!

I'll have a look, test it and get it fixed quickly ;-)

[2016-03-29 14:32] #103 closed

[2016-04-28 07:22] x09326 opened #105 "About npm version"
Hi, I'm an intern contributor of [cdnjs](https://cdnjs.com).

I added this lib with git auto-update on the cdnjs. https://github.com/cdnjs/cdnjs/pull/7733

But we prefer to use npm auto-update, and I notice that this lib is not the latest version on [npm](https://www.npmjs.com/package/gitgraph.js).
So can you update this lib on the npm?

Thank for your help!

[2016-05-02 06:48] nicoespeon commented on #105
Hi @x09326!

You're right, it has been a long time I didn't publish latests versions of the lib on npm. Completely forgot that!

It's done. I'll ensure to do it for next releases too.
Thanks for pointing out and for adding the lib to cdnjs 👍

[2016-05-02 06:48] #105 closed

[2016-05-24 22:41] YMA-MDL opened #107 "no event fired on firefox (ESR 38.5.1)"
I opened the exemple
![image](https://cloud.githubusercontent.com/assets/2270413/15522225/474af990-2211-11e6-9da6-aec62360ca6c.png)
Wether I go over a node or click it, I have not change of cursor style nor event fired showing up in the console (as the example should do)

[2016-05-26 21:02] nicoespeon commented on #107
Hi @YMA-MDL and thanks for reporting.

I'll try to give it a look, probably next week 😉

[2016-05-27 21:56] YMA-MDL commented on #107
Apparently support for event.offsetX starts at version 39 for Firefox
https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetX#Browser_compatibility

[2016-06-01 20:36] nicoespeon commented on #107
Hi @YMA-MDL =)

Could you try this fiddle and tell me if it works with your version of Firefox: http://jsfiddle.net/Pnx4D/

The idea would be to fallback onto `event.layerX` if `event.offsetX` is not defined, but I would like to unsure it would work before giving it a try… and my Firefox browser is already v43 😄

Thanks a lot!

[2016-06-06 14:23] YMA-MDL commented on #107
Yes the jsfiddle works.
(for the moment I've made a quick fix for a presentation)
![image](https://cloud.githubusercontent.com/assets/2270413/15825172/f9640482-2c02-11e6-86b4-92820b48ad32.png)

[2016-06-08 05:54] nicoespeon commented on #107
Hi @YMA-MDL!

I made a fix on the `fix-hover-event-firefox` branch. Try it out and tell me.
I'll release it with a new patch if it works for you 😉

[2016-06-13 10:40] sanskar-modi opened #108 "How to get data for drawing the graph"
It's not an issue. I want to ask how i get data for plotting the graph. I want to plot graph for a local repository for a side project. I could get commit data using `git log` and parse `git reflog` or `git --graph` output but i think their should be a better way than this. It would be better if you add this in documentation. Thanks

[2016-06-14 05:40] nicoespeon commented on #108
Hi @sanskar-modi!

Unfortunately there is no current way to "import data" from an existing git project to rebuild the graph automatically. This is a feature we planned to do with #38.

Yet there is no much maintenance activity recently on this project so I can't promise you this will be released anytime soon.

Still, feel free to propose a PR if you are in the mood of developing this =)

[2016-06-14 05:40] #108 closed

[2016-07-02 17:23] riconeitzel commented on #73
It's not fixed in iOS 9.3.2

[2016-07-07 06:34] #86 closed

[2016-07-07 06:38] nicoespeon commented on #107
I suppose it's working as a fallback for older FF since the fiddle worked.
So I'll push it to the next patch of gitgraph.js.

Thanks again for reporting 👍

[2016-07-07 06:38] #107 closed

[2016-07-15 16:54] bpatra opened #109 "Add the possibility to change the initial CommitOffsetX and CommitOffsetY"
We may encounter situations where the gitgraph spreads outside the canvas.  Especially when we change the size of the commit dots.
See this example
![outside](https://cloud.githubusercontent.com/assets/2801702/16882052/58f890d8-4abd-11e6-8a6a-1e04319b2e6c.jpg)

This could be fix if we override with settings options the initial values of
`commitOffsetX` and `commitOffsetY`

[2016-07-23 16:09] julenpardo commented on #58
Hi @nicoespeon, how do I activate this option? I've tried with `-reverse`, but this is just for the mirror effect, right?

I'm with v1.2.0 version.

[2016-07-23 17:38] larshp commented on #58
Try "reverseArrow: true"

See commit https://github.com/nicoespeon/gitgraph.js/commit/9cd3a9221e4f00752721c797501f82d58333e6b5

[2016-07-23 18:37] julenpardo commented on #58
Hi @larshp, thanks for your quick response.

Worked like a charm, many thanks!

[2016-07-25 13:02] nicoespeon commented on #58
Thanks @larshp for your reactivity =)

[2016-07-25 13:04] #109 closed

[2016-07-25 16:58] bpatra opened #113 "Add the possiblity to avoid the black borders"
For tagging branch, the font text has necessarily a black font color and is put in a rectangle with black border.

![withborder](https://cloud.githubusercontent.com/assets/2801702/17109721/825fe398-5299-11e6-8111-3c17f046a18d.jpg)

It would nice if we can ignore the rectangle and just display the text with the commit color.

![noborder](https://cloud.githubusercontent.com/assets/2801702/17109759/a

[2016-08-08 17:11] #113 closed

[2016-08-10 10:23] nicoespeon opened #115 "Test ToDoist"
This is just a required issue to set up a zap.

[2016-08-10 10:26] #115 closed

[2016-08-11 06:12] nicoespeon commented on #64
Let's be realistic: I wouldn't have time for a v2 so far.

I'm closing this issue. If you feel motivated for the job, please comment =)

[2016-08-11 06:12] #64 closed

[2016-08-11 06:12] nicoespeon commented on #63
Let's be realistic: I wouldn't have time for a v2 so far.

I'm closing this issue. If you feel motivated for the job, please comment =)

[2016-08-11 06:12] #63 closed

[2016-08-11 06:13] nicoespeon commented on #62
Let's be realistic: I wouldn't have time for a v2 so far.

I'm closing this issue. If you feel motivated for the job, please comment =)

[2016-08-11 06:13] #62 closed

[2016-08-11 06:13] nicoespeon commented on #65
Let's be realistic: I wouldn't have time for a v2 so far.

I'm closing this issue. If you feel motivated for the job, please comment =)

[2016-08-11 06:13] #65 closed

[2016-08-27 12:39] albfan opened #117 "Parse an existing git repository with CLI"
I want to use gitgraph.js in a custom command `git graph`

https://github.com/albfan/git-graph

Is there any example parsing whole repository and printing it with gitgraph.js?

[2016-08-28 10:07] nicoespeon commented on #117
Hi @albfan,

It sounds a lot like #38, but isn't implemented yet.

[2016-08-28 10:35] albfan commented on #117
Yes, I know, just asking if you have any link avaliable.

Then there's only two task to do:

1. parse input format: Totally related with #38 I will start with github format, but would be better to define one for gitgraph, so people can implement a conversor from X to gitgraph.js format.
2. play around with gitgraph till satisfied http://jsfiddle.net/fracz/guan1oz1/374/

I will keep you informed fr

[2016-08-28 11:52] albfan opened #118 "Enhance commit internal design"
Seems commit only support one branch, and it has no references to remotes. Both are basic features for a commit.

There's too an author and committer related to a commit.

[2016-09-01 04:53] davetrollope opened #119 "Tooltips don't respect messages display options"
Hovering over a commit that was created with:

master.commit({messageDisplay:false})

still displays the default messages.

I propose showCommitTooltip() be updated to check commit.messageDisplay():
        if(commit.messageDisplay) {
          self.tooltip.textContent = commit.sha1 + " - " + commit.message;
        } else {
          self.tooltip.textContent = commit.sha1
        }

This likely i

[2016-09-01 10:05] nicoespeon commented on #119
Hi @davetrollope and thanks for pointing this out.

Indeed, the way tooltips display message isn't bound to commit messages, which can lead to confusion.

I'll give it a look when I have some times. It should be quick to fix and get something a bit more consistent.

[2016-09-01 10:12] nicoespeon commented on #118
Yep, you're right.

This is because we built up this project to be able to draw git flows with JS code that'd look like git commands. The representation was not accurate, it was kind of a POC to meet our needs 😄

Is that something you need to draw a graph or simply something that might be improved for the model to represent git commits more accurately?

[2016-09-01 10:13] nicoespeon commented on #117
That'd be awesome 👌

Please tell if you have any trouble doing so.

[2016-09-01 10:34] albfan commented on #118
As I want to use to draw any kind of git history https://github.com/albfan/git-graph/issues/7 so I want to stick on git internals as much as possible. I can provide a PR for that.

[2016-09-01 10:40] albfan commented on #117
Of course. This will depend on #118 first, right? I will finish that first and then provide a general json walker and an implementation for github format.

[2016-09-01 11:53] nicoespeon commented on #118
Understand, this is a step to ease #117 =)

Feel free to augment internal design with what you need to ease the process. That would make the lib more compatible. Provide a PR with what you need, even incomplete, I'd help you to do so 👍

[2016-09-01 11:55] nicoespeon commented on #117
Sure.

That's good as it will improve the internal design and representations. Also, I guess it will point out issues with real-world scenarios if we can parse an actual graph.

[2016-09-01 13:36] davetrollope commented on #119
I just realized that toggling messageDisplay to control tooltips will likely create ugly displays on the page - this might just need a separate set of tooltipDisplay options perhaps?

[2016-09-02 06:47] nicoespeon commented on #119
The thing is that you can already provide a tooltip formatter to control how tooltip will look like: https://github.com/nicoespeon/gitgraph.js/blob/develop/examples/index.js#L23-L25

The only point missing is the ability to disable tooltip display in compact mode.

You pointed out that it should follow `messageDisplay` options but, as you said, it may not be the best idea.

So yep, we can add a `t

[2016-09-02 18:38] davetrollope commented on #119
sounds good! I'm new to gitgraphs so I'm still learning the full extent of what it can and can't do...

[2016-09-02 19:26] nicoespeon commented on #119
This is done and part of [v1.4.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.4.0) 👍

[2016-09-02 19:26] #119 closed

[2016-09-10 13:39] ASMfreaK opened #120 "Issue in complex graph drawing"
I was generating graph from my git repo with a preety dumb python script [look at this gist here](https://gist.github.com/ASMfreaK/dbd0360ea1908857a306fb29c675ff6c). It outputs [a script](https://gist.github.com/ASMfreaK/dbd0360ea1908857a306fb29c675ff6c#file-scipt-js)
When loaded via `python -m http.server` with page, taken from examples, it stumles on [this line](https://github.com/nicoespeon/git

[2016-09-12 10:09] nicoespeon commented on #120
Thanks for this detailed issue @ASMfreaK 👍

For what I tested so far, it seems that this scenario is causing troubles:

[code]

I'll create an issue for this. After fixing that I'll have a second look at the whole issue.

[2016-09-12 10:11] nicoespeon opened #121 "Graph doesn't render if branch created without commit on base branch"
This is causing troubles:

[code]

![image](https://cloud.githubusercontent.com/assets/1094774/18432391/f873ab00-78e1-11e6-9e43-bcb05b3dd87c.png)

Cf. #120

[2016-10-24 09:52] longstone commented on #121
I assume its not possible to branch a branch? I run into a similiar issue when trying to create mor as 2 branches.

[2016-11-04 01:35] leonsoft opened #123 "Integrate with a real git repository"
I like the graph (blackarrow) very much.
But I do not want to call API like _gitgraph.commit("My first commit")._
I hople it reads the .git folder/url and renders the graph in a web page or desktop app.
Is that possible? Thanks.

[2016-11-04 16:30] nicoespeon commented on #123
Hello @leonsoft!

What you ask looks like #117, which is not yet implemented. Am I correct?

Also, there was an ambition to render the graph from a JSON, but I never find the time / motivation to do that.

[2016-11-09 09:19] rixx opened #124 "Support multiple branch parents"
Sometimes you want to create a branch from two other branches in the same commit.

[code]

[2016-11-18 13:48] sofusalbertsen commented on #67
Hi @nicoespeon, first of thanks for a fantastic library!
I'm working on making some guides using this, but I need the fast-forward merge capability to illustrate that.
I can see that you have moved the milestone into infinity.
Is that because it is not possible to do it, or "just" a matter of priorities?
-Sofus

[2016-11-21 08:20] nicoespeon commented on #67
Hi @sofusalbertsen!

Well, to sum it up: this project was a good-enough solution we developed with @fabien0102 to fill our needs to render git graphes in JS few years ago. Since, I mostly accepted pull-requests and fixed a few bugs, but I went to other projects so I did not really move the library forward.

I feel like the code still has some bugs but no tests and all-in-one big chunk that doesn't

[2016-11-23 07:30] sofusalbertsen commented on #67
Hi again @nicoespeon.
If you have time, then that would be amazing, I really like working with your library :)
-S

[2016-11-24 12:35] FogiaFr opened #126 "Configure commits default options in branch (e.g. setting a branch color)"
Is it possible to set a branch color (commit nodes and branch name) when declaring a branch ?

For example, with something like this:

var dev = gitgraph.branch({
        parentBranch: master,
        labelColor: "cyan",
        name: "dev",
        showLabel: true,
        column: 2
    });

The purpose is having the same color for functional alike branches (eg purple for feature branches, yellow

[2016-11-24 13:25] nicoespeon commented on #126
Hi @FogiaFr!

Sure, try the following:

[code]

[2016-11-24 17:19] FogiaFr commented on #126
Hello @nicoespeon and thanks for your fast reply.

I copy/pasted the code and the "cyan" color is ignored and the branch is displayed in green.
I am using version 1.4.0 (latest release I am aware of).

[2016-11-24 17:22] nicoespeon commented on #126
Hmmm that's strange.

Could you copy/paste the whole snippet of code that you have?
I'll try to figure out what's going on.

Thanks.

[2016-11-25 09:18] FogiaFr commented on #126
Sure. I made a very simple example:

`
    var gitgraph = new GitGraph({
        template: "blackarrow",
        reverseArrow: false,
        orientation: "vertical",
        mode: "extended",
        author: "me@home.com"
    });

    var master = gitgraph.branch({
        name: "master",
        labelColor: "cyan",
        showLabel: true,
        column: 2
    });
    var develop = gitgraph.bra

[2016-11-25 09:23] FogiaFr commented on #126
Sorry, didn't see it was color and not labelColor.

The problem with using 'color' is that the commit nodes and the branch label remain of their original color but the branch line is changed.

The black line for all branches are fine for me. What I want to change color is branch label and commit nodes (the circles) of the branch.

[2016-11-25 11:21] lucasvc opened #127 "Template 'blackarrow' generates orphaned arrow head"
Using version 1.4.0 and the following script:

[code]

I got the following graph, which commit 80309be (in the image) has an incorrect headed arrow:
![image](https://cloud.githubusercontent.com/assets/1053448/20623785/9fd2110a-b309-11e6-8b29-e972f63491e0.png)

[2016-11-25 11:46] lucasvc commented on #75
Yes, it is a good idea!
I've done two things, depending the sitation:

[code]
[code]

[2016-11-25 12:10] nicoespeon commented on #126
Understand 👌

Unfortunately I don't think there is an option to configure all commits of a given branch, as far as I remember.

For now you will need to pass the `color` option to each commit you want to customize:

[code]

This is not ideal 😕

I'll keep your issue open as a suggestion to provide the ability to configure branch commits when you declare the branch, which will be way more convenient

[2016-11-25 12:16] nicoespeon commented on #127
Hi @lucasvc, thanks for this detailed bug report, that will ease resolution a lot 👍

[2016-11-25 13:56] fabien0102 commented on #126
Not ideal too, but you can play with the template to set branch colors 😉

For example:
http://codepen.io/fabien0102/pen/vyZMgY

[2016-11-25 14:27] nicoespeon commented on #126
@fabien0102 👌

I thought about this one, but I think that would be tricky to match @FogiaFr requirements:

Using template, you will need to have these "functional alike branches" at the same column, which could be hacky 😆

But that's a great solution to customize branches colors easily.

[2016-11-25 14:30] fabien0102 commented on #126
I’d said "not ideal" ^^

[2016-12-04 12:18] nicoespeon commented on #83
Just realized this is a duplicate of #36

[2016-12-04 12:18] #83 closed

[2016-12-04 12:22] nicoespeon commented on #123
Hi @leonsoft!

Thanks again for your suggestion.
After checking other issues, I definitely understand that as a duplicate of #117.

I'm closing it as a duplicate since this need is supported with the other issue 👌

[2016-12-04 12:22] #123 closed

[2016-12-04 12:25] nicoespeon commented on #124
Hi @rixx!

Isn't that something you could already do using merge, just like you did in your git snippet?

[2016-12-04 12:45] nicoespeon commented on #67
Hi again @sofusalbertsen!

Get some time to have a look to the project and clean the dust a bit.

There are few points to improve with the project:

- do more tests − actually, [there are some](https://github.com/nicoespeon/gitgraph.js/blob/develop/tests/gitgraph.js) I forgot about
- modularize source code in some way, so it would be more manageable
- have a look at tooling & dependencies we use,

[2016-12-05 12:18] rixx commented on #124
erm, yes. Not quite sure what I was getting at there because that's exactly how I've solved it in my demo. Sorry for the bother.

[2016-12-05 12:18] #124 closed

[2016-12-06 06:57] nicoespeon commented on #124
No problem, thanks! 😉

[2016-12-07 07:38] sofusalbertsen commented on #67
@nicoespeon That sounds fantastic :)
I totally agree that your time is better spent on making improvements, than tight planning, especially when this is spare time development.

Again, thank you for "reviving" this, I really see the benefits of having an open-source git-graph drawing lib such as this!
-S

[2016-12-08 04:56] Giridharan2112 opened #128 "Canvas event handlers cannot be disposed from the consumer end"
Hi,
    We are working on using this library to render the gitGraph for the git history in our ALM solution. In that we are need to update the graph as and when we update the history list. Since we are in need to create new gitGraph objects, the old objects are not getting cleaned up by the GC since the canvas event handlers are not removed. We are not able to remove them from our end too. I have

[2016-12-08 04:56] Giridharan2112 opened #129 "Click handlers do not receive the event objects which makes it difficult to identify the click type"
Hi,
    We are in need of having multiple behaviors for left and right click separately. To differentiate the click types, we would need the event object being passed to the click handlers. I have made the change locally and have tried it out. If you are open to accept changes in this regard, I shall go ahead and create a PR.

[2016-12-08 07:36] nicoespeon commented on #129
Hi @Giridharan2112!

Passing the original event object to handlers sounds legit to me, you just presented a perfect use case for such need.

If you have something, please feel welcome to open a PR − otherwise I'll give it a look, that's an easy one, but I'm currently working on #67.

[2016-12-08 08:53] Giridharan2112 commented on #129
Hi @nicoespeon!

Thanks for accepting the feature request. I have the changes for it. I will raise a PR for it by EOD.

[2016-12-08 09:21] Giridharan2112 commented on #129
Can you please provide me access to push a branch?

[2016-12-08 10:55] nicoespeon commented on #129
@Giridharan2112 I think you should fork the repo, push to yours and create a PR from here. That's usually how I do for that kind of contribution to a lib on GitHub, see https://help.github.com/articles/fork-a-repo/ =)

Thanks a lot 👍

[2016-12-08 11:05] nicoespeon commented on #128
I understand the need to dispose event handlers so if you have a PR to implement this enhancement, I'd gladly review it.

Furthermore, your case is interesting, it reminds me a lot about #38 − related to #117. I'd like to hear more about how you did to render the full git history, while the library doesn't support this feature for now.

[2016-12-08 12:05] Giridharan2112 commented on #128
Yes, I have a the changes for this too. Will create the PR.

[2016-12-08 12:33] Giridharan2112 commented on #129
Thanks for letting me know the means to do it. Have created a PR #130

[2016-12-08 12:40] Giridharan2112 commented on #128
Have created a PR #131

[2016-12-09 06:57] #128 closed

[2016-12-09 06:58] nicoespeon commented on #128
Thanks for this one @Giridharan2112 👍
I'll make a release after looking / merging #130.

[2016-12-09 07:14] #129 closed

[2016-12-09 07:53] nicoespeon commented on #129
Hi @Giridharan2112,

It's all merged, thanks for your contribution.
I just published [v1.5.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.5.0) which includes these changes.

A little note however: to prevent backward incompatible changes, I changed the signature of your implementation so the `event` object is the last parameter of the callback. See 5777e1f01ac76d7bb7c74d38951184306bc

[2016-12-13 14:00] Giridharan2112 commented on #129
Thanks a lot for active response and support!

[2016-12-13 14:01] Giridharan2112 commented on #128
@nicoespeon , Thanks a lot for the support!

[2016-12-16 13:09] nicoespeon commented on #67
Hi @ckruczek & @sofusalbertsen!

With the [latest release](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.6.0) you can now do something like `featureBranch.merge(mainBranch, { fastForward: true });` to perform a fast-forward merge if possible. If it's not possible, it will do a regular merge.

Let me know if that works as you'd expected or if you have any trouble with that.

[2016-12-16 13:09] #67 closed

[2016-12-16 17:40] nicoespeon commented on #126
Hi @FogiaFr!

As of [v1.7.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.7.0) you can now do:

[code]

This should work as you'd expect. Let me know if you have any trouble.

[2016-12-16 17:40] #126 closed

[2016-12-17 09:17] nicoespeon commented on #127
Hi @lucasvc!

As of [v1.7.1](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.7.1), this should now be fixed.
Let me know if you still have troubles 😉

[2016-12-17 09:17] #127 closed

[2016-12-19 07:28] lucasvc commented on #127
Thanks for the update!
But,... the rest of the script is not working now :( I'll try to see where it fails and I'll report in case.

[2016-12-19 15:54] nicoespeon commented on #127
If you need to, don't hesitate to fork from [this fiddle](http://codepen.io/nicoespeon/pen/WoPJYe) with the rest of your script to share what's wrong with v1.7.1 😉

[2016-12-21 17:52] jmayalag opened #132 "Horizontal Tag Alignment"
Tags aren't aligned correctly when orientation is horizontal. I don't know if this is the expected behavior.

![gitgraph](https://cloud.githubusercontent.com/assets/6710350/21400029/e4a60df8-c78c-11e6-889e-abf1b12aca6f.png)

[code]

[2016-12-26 15:14] strich commented on #38
Wondering if there has been any additional work on this feature?

[2016-12-27 15:57] cgddrd commented on #132
Having also come across this, I did a little digging.

It looks like this behaviour is indeed intentional, having located the following call to `_drawTextBG`, that renders tag labels under 'horizontal mode' (line ????):

[code]

Looking closely at the third parameter (Y position), we see the following: `(this.parent.tagNum % 2)`, which when multiplied by `textHeight * 1.5`, will cause every other

[2017-01-02 07:02] nicoespeon commented on #38
Hi @strich =)

There has been no concrete progression from my side, but it's still something I wish to do. There has been discussions around that feature, as you can see with related issues above.

[2017-01-02 09:09] nicoespeon commented on #132
Hi @jmayalag & @cgddrd!

First of all: happy new year 🎊
I hope you've had great time with your family and friends 😄

Thanks a lot for digging into this.
At first, this looked to me much more like an issue than an expected behavior. It's not intuitive why tags are not aligned.

However, after searching back in the history, I found that we actually did this to avoid tags collision which might happen

[2017-01-04 18:26] MetaiR opened #136 "preview changes"
did you see GitKeraken?
it has a WIP (it shows the changes which not committed)
you can see it as WIP: LocalTests (it's shown by dashes) in image:
![image](https://cloud.githubusercontent.com/assets/7807264/21653847/67349b40-d2c8-11e6-87e2-62022fc97daa.png)

I looked for it but I didn't find anything.
I think it's good if make this feature.
thanks

[2017-01-04 19:26] MetaiR opened #137 "two branch from one commit"
if you make two (A,B) different branch from one commit it's looks like the second branch (B) is made from branch (A).
where is the problem?

for more details see image:
![image](https://cloud.githubusercontent.com/assets/7807264/21655771/a0178be0-d2d0-11e6-9dda-2f7ebbeb34d9.png)
branch `newOne` and `dev` were made from `[master] 0b47fca`

and here is the code:
[code]
---updaet---
i found out that

[2017-01-05 17:32] nicoespeon commented on #136
Hi @MetaiR and thanks for the suggestion!

I'm wondering about the use case though. I see gitgraph.js much more like something that allows you to represent a git workflow on a webpage without having to draw it by hand, in a picture − this was our original use case, actually 😆

The ambition I currently have is to make it able to dynamically create the graph from some input, so you'd be able to draw

[2017-01-06 07:52] #75 closed

[2017-01-06 07:52] #121 closed

[2017-01-07 15:17] MetaiR commented on #136
@nicoespeon
first of all thanks for your answer and attention.
this idea has a quite long story.
I'm working on Linux (ubuntu) and here we have just GitKraken that support all of the git feature and also easy and fast enough for working with git. it has WIP, cover conflicts and solves them with asking you which one correct and you can pick up one just by clicking on a checkbox and other good featu

[2017-01-09 08:07] nicoespeon commented on #136
I get your needs indeed =)

However that's very specific to the usage of a git GUI. But I guess what you need is the drew graph, and you handle the files changes by yourself. If so, a workaround would simply be to draw a "WIP-commit" to represent the WIP, like so:

[code]

This would produce something like:

<img width="1111" alt="wip-style-commit" src="https://cloud.githubusercontent.com/assets/1

[2017-01-09 22:35] nicoespeon commented on #120
Hi @ASMfreaK!

As of [v1.8.1](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.8.1), such complex graphs should be render properly.

Do not hesitate to open another issue if you do find other situations that are causing troubles to render.
Thanks again!

[2017-01-09 22:35] #120 closed

[2017-01-09 23:50] #81 closed

[2017-01-09 23:51] nicoespeon commented on #81
Shipped in [v1.8.2](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.8.2).

[2017-01-10 07:11] nicoespeon commented on #132
Hi there!

This should be fixed with [v1.8.3](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.8.3).
Cheers!

[2017-01-10 07:11] #132 closed

[2017-01-10 08:08] MetaiR commented on #137
yes of course.
so the gitGraph working on last Head.

[2017-01-10 08:08] #137 closed

[2017-01-10 18:59] ASMfreaK commented on #120
Thank you.

[2017-01-10 19:03] ASMfreaK opened #138 "Scrollarea for commit messages"
It would be nice if long commit messges could be scrolled. IDK if it can be implemented, though.

[2017-01-11 07:01] nicoespeon opened #139 "Dashed-style commits"
It would be nice to provide a way to draw dashed-style commits, like git GUIs do to illustrate WIP changes.

See #136.

[2017-01-11 07:02] nicoespeon commented on #136
Unfortunately not, AFAIK.

I created #139 for that. I'm closing this issue if you have no further question − if so, feel free to ask / open an issue :wink:

[2017-01-11 07:02] #136 closed

[2017-01-11 07:10] nicoespeon opened #140 "Graph with arrows doesn't render properly multiple branches from the same commit"
<img width="276" alt="arrow-commit-pushed-from-same-branch" src="https://cloud.githubusercontent.com/assets/1094774/21838794/7a1ea898-d7d4-11e6-85db-174fef4d52e3.png">

Arrow is expecting the branch dash to come vertically since commit is "pushed in Y".

Source code:

[code]

[2017-01-12 08:49] jcgonzales opened #141 "Search facility"
Hi, this is rather a request than an issue...

Is there a way to be able to search a branch, a tag via the navigator search facility (CTRL-F) ?

Thanks

JC

[2017-01-13 10:05] nicoespeon commented on #138
Maybe instead of scrolling we could make it fit in a defined "box".

I have a question though: are you speaking of commit messages displayed in tooltips in compact (and horizontal) mode or regular ones displayed in vertical mode? Or both?

[2017-01-13 10:19] nicoespeon commented on #141
Hi!

I don't think so since text is part of the canvas, hence it is not accessible.
To do so, I guess we should render part of the graph in plain HTML, which is not something easily feasible with current implementation.

If you do find a solution − or get an idea on how to do that, please share 😃
Until then, I'm closing the issue with a "wontfix" because I don't have one.

[2017-01-13 10:19] #141 closed

[2017-01-13 12:11] nicoespeon commented on #118
Hi @albfan!

Is there something I can do on this one?
Thanks!

[2017-01-13 12:45] albfan commented on #118
Add committer https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L994 and add option to display as https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L1165 cannot hurt, but I guess it would need another option for display as multiline

[code]

but for parentCommit a refactor is needed. https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L9

[2017-01-13 13:41] nicoespeon commented on #118
Thanks for the update, I'll see what I can do.

I also did realize that `parentCommit` was not an accurate representation while digging back into the lib. I'm working on it for #38. I'll let you know about that.

[2017-01-19 13:21] JKrag opened #142 "Mode: Branch pointers only"
It would be lovely if there was a mode "between" compact and standard. I would like something that just adds branch labels to the commit currently representing a branch.

Something along the lines of the following picture:
![image](https://cloud.githubusercontent.com/assets/1712950/22108196/2b6303dc-de52-11e6-9b5e-72a44f46096b.png)
(generously borrowed from https://www.atlassian.com/git/tutorials/

[2017-01-20 01:09] JKrag commented on #142
I played around and noticed that there is a showLabel feature. As I am not used to JS, It took me some time even to work out how to set this property without having to write a whole template myself.
When I finally got it working, I found out that it didn't do what I hoped anyway :-)

I have now spent the evening reading and hacking around in the code and learnt a lot of JS along the way too. I did

[2017-01-25 07:10] nicoespeon commented on #142
Hi @JKrag,

Thanks for this detailed issue with many suggestions and digging.

Concerning the "display branch tags in compact mode" part, there is no obvious / documented way to do that indeed.
However, you were close. What you can do is create your own template that display branch labels. Extending the `"metro"` template, you would do something like:

[code]

That would produce graphs like this:

[2017-02-01 12:19] JKrag commented on #142
@nicoespeon Thanks for your reply. I had been playing around mostly with the vertical view. While I do admit that the labels look much better here in the horizontal it, unfortunately, does not meet my needs.
For me, it is a very important property of a branch label that it actually references (points to) a specific commit. As I see it, the labels in your example (and in my experiments) are always

[2017-02-01 12:25] JKrag opened #143 "Multiple labels at same commit"
I would love to be able to have multiple branch labels pointing to the same commit. This is a very common occurrence in Git, the most obvious cases being:

- Just after creating a new branch
- remote tracking branches

The following example (see #142 for details) shows `foo` and `bar`referencing the same commit.

![image](https://cloud.githubusercontent.com/assets/1712950/22506562/64ccef0a-e881-11

[2017-02-02 20:12] nicoespeon commented on #142
Yep. Unfortunately, that's an issue of wrong design in the heart of the current version of gitgraph.js.

Branches should be tags that reference a commit, so we can retrieve it (and its ancestors). Graph content should just be a collection of commits that are related each others − a graph, basically.
But for now, gitgraph.js is made of branches that contains a list of commits. Branches are "physica

[2017-02-03 11:51] iluwatar opened #144 "Render forks"
I read through the documentation but came to conclusion that gitgraph.js only supports single repository / multiple branches. Would it be possible to visualize at least 2 repositories which is common in forking workflow?

[2017-02-07 08:03] nicoespeon commented on #144
Current implementation is designed to represent a single repo indeed. Actually, there is no notion of repo at all.

I guess the use case would look like GitHub's network, right?

<img width="660" alt="multi-repo-gitgraph" src="https://cloud.githubusercontent.com/assets/1094774/22682637/07a8b8a8-ed14-11e6-8a81-54e5d4b4f229.png">

I understand the use case. Though I don't want to overload the librar

[2017-02-15 08:49] nicoespeon commented on #38
Worth a check: https://github.com/fabien0102/git2json

[2017-02-15 08:50] nicoespeon commented on #117
Worth a check: https://github.com/fabien0102/git2json

[2017-02-28 14:59] molikmiah opened #145 "Positioning of commit details vary from version 1.0.3 to Version 1.8.3"
The detailed sections on different branches are not vertically aligned correctly. Please see attached screenshots for version 1.0.3 and version 1.8.3.

**Version 1.0.3:**
![version 1 0 3](https://cloud.githubusercontent.com/assets/10675007/23410225/63440dbc-fdc6-11e6-8301-c0cd79432af3.png)

**Version 1.8.3**
![version 1 8 3](https://cloud.githubusercontent.com/assets/10675007/23410239/6ef643b4-fdc

[2017-03-03 07:48] nicoespeon commented on #145
Thanks for reporting this issue @molikmiah 👍

[2017-03-08 08:08] klebba opened #147 "Configurable tooltip container"
It's not always the case that the tooltip element should be appended the document body. It would be useful to allow the developer to override this default with a provided element target. Thanks for considering!

[2017-03-09 07:47] nicoespeon commented on #147
That's a good point, thanks for suggestion 👍

[2017-03-12 20:46] #147 closed

[2017-03-12 21:05] nicoespeon commented on #147
Hi @klebba!

As of [v1.9.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.9.0) you can specify a custom HTML element to contain tooltips displayed in compact mode:

[code]

If you don't provide a `tooltipContainer`, it will default to `document.body`.

[2017-03-23 18:55] nathan-alden opened #148 "Support multiple tags per commit"
It seems that gitgraph doesn't support multiple tags per commit. This would be a useful enhancement for me. I'm modeling our CI system's tagging methodology on our repositories, and the same commit can end up with multiple tags.

[2017-03-24 07:45] nicoespeon commented on #148
That's correct, commits should handle (and display) multiple tags.

Thanks for the suggestion 👍

[2017-03-24 21:13] HctiMitcH opened #149 "NPM @Type Type Definitions"
It would be sweet if there were typing definitions for use with Typescript.

[2017-03-27 15:19] nicoespeon commented on #149
I understand the need. Thanks for pointing this out.

[2017-03-28 19:19] nathan-alden opened #151 "Customize tag text color + font"
Branch colors that look good on white backgrounds tend to be darker colors. Unfortunately, it seems the tag text color is always black, so it can become hard to read the tag colors. Optimally, there would be two sets of colors--perhaps something like this:
[code]

[2017-03-30 11:05] fabien0102 commented on #149
I have tried a little POC with https://www.npmjs.com/package/tsd-jsdoc (jsdoc to typescript) but I got an issue with our options format (dot notation)

Break output example:

[code]

I also tried some hacks (export options as type/callback) but it's not really good (options need to be interface to be usefull)

So for this issue, two options:

- jsdoc2json (I tried, 3175 lines of "beauty" JSON with

[2017-03-30 11:08] fabien0102 commented on #149
POC details -> https://github.com/nicoespeon/gitgraph.js/tree/typescript

`npm run doc:tsd` -> generate dist/types.d.ts with tsd-jsdoc
`npm run doc:json`  -> generate dist/doc.json with jsdoc-json

[2017-04-02 21:38] MetaiR opened #153 "changelogs"
hello,
is there any place to see the change logs?

[2017-04-02 21:40] MetaiR commented on #139
does it finish yet?

[2017-04-03 06:36] #149 closed

[2017-04-03 08:11] nicoespeon commented on #153
Hi @MetaiR!

There is no proper changelog file. I generally describe the changelog in every GitHub release: https://github.com/nicoespeon/gitgraph.js/releases

Is that helpful enough?

[2017-04-03 09:03] nicoespeon commented on #139
Sorry @MetaiR but it wasn't implemented yet.

Issue will be closed when this will work =)

[2017-04-03 09:11] nicoespeon commented on #151
Hi @nathan-alden!

Indeed, tags background color follows commit's one.
You can individually select a specific background color using `.tag({ tag: "v1.0", tagColor: "white" })`, but there is no possibility to configure this at template level for now.

Just to be sure: are you suggesting to configure the tag background color or the tag text color, keeping the current implementation for the backgroun

[2017-04-03 09:46] nicoespeon commented on #149
Hi @HctiMitcH!

As of https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.10.0, TS definitions are produced in along the build.

However, I'm not yet familiar with npm @types packages introduced by TS 2.0. Let me know if that's good enough or if you have any indication on how to enhance the integration for developers =)

[2017-04-04 11:26] MetaiR commented on #153
I think so, thank you

[2017-04-04 14:03] #153 closed

[2017-04-05 03:39] nathan-alden commented on #151
I am suggesting changing the tag's foreground color. Right now it's always black, which interferes with common branch colors.

[2017-04-05 11:26] fabien0102 commented on #149
For npm package, we just need to add `types` keys into packages.json ;) (@types it's maybe not the better idea for this repo, bundle is more easy to managed with our case).

Ref: http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2017-04-06 09:47] nicoespeon commented on #151
👍 Thanks for clarification.

[2017-04-06 09:51] nicoespeon commented on #149
Thanks @fabien0102, I added types to the package.json : https://github.com/nicoespeon/gitgraph.js/commit/e9409dd169b8a67422d24e4c2399ed50785e64f4

[2017-04-19 06:52] #145 closed

[2017-04-19 07:14] nicoespeon commented on #145
FYI, this fix is part of [release v1.10.1](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.10.1).

[2017-04-20 21:54] nicoespeon commented on #148
I just realized this is a duplicate of #143. I'm closing this issue, but the point is still noted 👍

[2017-04-20 21:54] #148 closed

[2017-04-21 18:55] #139 closed

[2017-04-21 19:11] nicoespeon commented on #139
Hi @MetaiR!

As of [v1.11.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.11.0), you can draw dashed-style commits.

Hence, you can simulate a WIP commit:

[code]

<img width="807" alt="wip commit" src="https://cloud.githubusercontent.com/assets/1094774/25292587/10e2e2b6-26d7-11e7-9942-f0d2dcb64387.png">

[2017-04-22 07:01] MetaiR commented on #139
if the line of dash circle is dash either, will be better.

[2017-04-22 08:05] nicoespeon commented on #139
I thought about it. Unfortunately, this is not something that can be easily implemented because of the current modelisation of gitgraph.js − as I explained in issue #142:

But for now, gitgraph.js is made of branches that contains a list of commits. Branches are "physical" things that hold a list of unrelated commits.

You can create a branch that will have a dashed style too, but it will look lik

[2017-04-22 18:57] MetaiR commented on #139
so many thanks :)

[2017-04-22 19:03] MetaiR opened #156 "Turn js file to smaller js files"
I saw this on the famous projects like [materialize](https://github.com/Dogfalo/materialize).

they turned their js file to smaller files and this makes developing so easier.

can you do something like that?

[2017-05-03 13:57] JonathanRowley opened #157 "Detail HTML is not made visible when injected into DOM"
Using Angular and *ngFor in HTML template for commit detail content doesn't appear.
[code]

[code]

tested with: vertical orientation and expanded mode

[2017-05-03 21:48] #140 closed

[2017-05-03 21:59] nicoespeon commented on #156
Hi @MetaiR!

Yup, you're completely right. This is something we should do to make the code more maintainable.

[2017-05-04 17:08] fabien0102 commented on #157
Angular have a shadow dom processing, try to put gitgraph part into "onRender/afterRender" angular hook (I don't know the name of the hook, I let you look into angular doc #livecycle)

You need to have DOM render before use gitgraph ;) or you can trigger a gitgraph.render() manually after DOM rendering

Note: I'm on my phone, so I don't have the doc easily ^^ If you want more details, please do a

[2017-05-05 08:23] laymain opened #159 "Graph rendering fails with basic branching"
Hi,

There's a bug on the graph rendering when a commit is made on a branch
after it has been used to create another branch:

![image](https://cloud.githubusercontent.com/assets/389065/25738233/3052e39e-317c-11e7-8fdb-97adff269c63.png)

[code]

If we do the commit on the new branch before the commit on the first one, it renders finely:

![image](https://cloud.githubusercontent.com/assets/389065/25

[2017-05-06 18:33] aspiers opened #160 "Branch labels are shown on first commit in branch, not head of branch"
I see that this is [a known issue](https://github.com/nicoespeon/gitgraph.js/issues/142#issuecomment-277069476), however I think it's important enough that it merits being tracked in its own issue.  I also appreciate (as that comment points out) that there are some fundamental design flaws which would need to be addressed to fix this properly.  Nevertheless it appears possible to at least work aro

[2017-05-07 03:15] klebba commented on #147
Cool!

[2017-05-10 07:15] nicoespeon commented on #159
Hi @laymain, thanks for pointing out this issue, this is definitely a bug!

[2017-05-10 10:22] fabien0102 commented on #157
http://plnkr.co/edit/PIxqMlEkn1DbFhgqrQpF?p=preview

Tadaaaaaaa! So yeah, just put your code into `ngAfterViewInit()` hook 😉

[2017-05-10 16:06] nicoespeon commented on #157
Thanks @fabien0102 👌

@JonathanRowley let us know if there is something we missed. Until then, I'm closing this issue as of Fabien's answer.

[2017-05-10 16:06] #157 closed

[2017-05-19 09:21] SmallhillCZ opened #162 "Create a branch at specific commit"
Suppose I made a branch from some commit in the past, like this:
[code]

How do you do this in this library? Thanks for advice!

// I made a little wizard/script to graph GitHub repository (https://smallhillcz.github.io/githgraph-js-auto/) and this is my last missing feature. Currently it ends up like:
[code]

Moreover sometimes one would even need to merge from past commit:

[code]

[2017-05-25 02:03] moore3071 opened #164 "FF53 no branch label tooltips"
Tooltips are currently broken and not showing up in FireFox 53. The console gives an error on hover of:
`TypeError: setting a property that only has a getter`
This is due to trying to set event.x for FireFox 52 and before which used event.[xy] for the screen coordinates and event.[XY] for client(canvas) coordinates.

[2017-05-25 08:38] #164 closed

[2017-05-25 09:06] nicoespeon commented on #162
Hi @SmallhillCZ,

Currently, the only way to achieve this would be to create the second branch just after the A commit. Like this:

[code]

However, we should be able to point a commit directly. So I'm tagging this as a "feature" to be implemented.

[2017-05-25 10:21] nicoespeon commented on #117
For the record: this is waiting for #118, which is waiting for #38 😄

[2017-06-05 11:21] yodalee commented on #159
I think this is related to the PR I push, I will dig into this issue.

[2017-06-05 11:44] yodalee commented on #159
I take some time to trace the bug, at least in tag v1.1.0, the output graph is still OK, I will use bisect to see where goes wrong.

[2017-06-05 11:49] yodalee commented on #159
Rough tracing takes me to cc8110f04971f95ac90833ff65bab00181fe84bb
This commit cause the arrow start at first commit

[2017-06-06 13:33] csombok opened #166 "Strange branch lines for merge commit with detail DOM elements"
I use vertical and vertical-reverse orientation for rendering history items where I specify commit details for merge by referencing a detail DOM element. The problem is that the graph renders strange branch lines on canvas for merge points.

Please find sample below:

![image](https://cloud.githubusercontent.com/assets/12937212/26831815/bd90c8ce-4acd-11e7-89cd-64d0cbf39a8a.png)

Expected behaviour

[2017-06-06 13:51] csombok opened #167 "Unable to align commit detail DOM elements with vertical reverse orientation"
When using vertical-reverse orientation commit points are always aligned to the bottom of the detail DOM element and there are no options to customize it (i.e. vertical middle, or top)

Example:

![image](https://cloud.githubusercontent.com/assets/12937212/26832486/ec47ba86-4acf-11e7-9702-6518b7fe13d7.png)

Example code:

      var gitgraph = new GitGraph({
        template: "blackarrow",

[2017-06-06 14:31] csombok commented on #166
I sent a PR against develop branch recently consisting the proposed fix for this bug:

https://github.com/nicoespeon/gitgraph.js/pull/168

[2017-06-13 19:36] #166 closed

[2017-06-13 19:40] nicoespeon commented on #167
Hi @csombok,

I see what you mean. Indeed, there is no possibility to change the way details are rendered. This should be an option − or I least, I'd find more intuitive for details to be aligned by the top rather than the bottom.

[2017-06-14 11:17] csombok commented on #166
Hi @nicoespeon,

Thanks for merging / closing / releasing it. 👍

Attila

[2017-06-14 14:49] Rytiss opened #169 "onClick for commit messages"
It is currently possible to specify an onClick handler for a commit, however, it only works when clicking on the commit dot. I also need the ability to click on the entire associated message (e.g. hash, message, author) - any way to do that?

[2017-06-15 21:51] nicoespeon commented on #169
Hi @Rytiss,

To do that, we need to implement the event when there is a click on the commit message.
It doesn't work yet, but that's a feature to be considered.

Thanks for raising this 👍

[2017-06-18 19:58] omarzion opened #170 "Feature Request: Make branch labels absolute positioned divs"
Making the branch labels divs so they can be styled, or adding template options for them like there are for message: would be nice
either
[code]
or
[code]

[2017-06-21 09:16] YMA-MDL commented on #38
Here is a method I have made to render a gitgraph in Aras PLM, from a GitLab commits exports
https://gist.github.com/YMA-MDL/b1d7284a8cebc3ecf36829984859656b
![gitscreenshot](https://user-images.githubusercontent.com/2270413/27376617-fa0b062e-5672-11e7-9c95-de58dc88f48e.PNG)

I still need to work on it to make sure it ends on the main (gitlab commits are pulled on a branch basis and the branch of

[2017-06-23 11:29] nicoespeon commented on #170
Hi @omarzion,

Would #151 solve this issue? It looks like it's related to me.

[2017-06-24 14:56] ch4nn0n commented on #167
I am having this issue as well, it would be nice to have the details aligned under the commit points.

[2017-07-01 22:14] omarzion commented on #170
Hi @nicoespeon

I think #151 and adding a font property like you have for commit messages would solve the problem.

The idea I had with making it a div was the ability to have the branch labels move up and down the branch when scrolling to stay in view while you could still see the branch, but that would probably be a lot of reworking for little gain

[2017-07-04 21:08] nicoespeon commented on #170
Agreed, I updated the issue title to take font property into account.

I'll let you know when this is done on this issue then. Thanks for clarifying 👍

[2017-07-04 21:08] #170 closed

[2017-07-23 18:23] atanasyanew opened #172 "Tooltips"
Hi. is there a way to display tooltips now only for compact mode.
For the first picture i have my graph but without the tooltip.
Second picture have tooltip, i tried many different ways to implement it but only works when the mode is compact.
Thanks

![1](https://user-images.githubusercontent.com/21058194/28501818-bbb25650-6fec-11e7-81a6-f608e342bded.JPG)

![2](https://user-images.githubuserconten

[2017-08-01 10:12] jessetan opened #173 "Draw line or arrow between tag and commit"
If a commit has been tagged, the tag is displayed to the right of the commit in vertical mode and below the commit in horizontal mode. If there are many branches, or the tag name is long (especially in horizontal mode) it can be hard to see which commit was tagged.
It could help if there was an error from the tag to the commit or a dashed line (e.g. vertical line in horizontal mode) to more clearl

[2017-08-08 20:35] nicoespeon commented on #159
Hi @laymain,

Thanks to @yodalee, this should be fixed with v1.11.4 (https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.11.4).

[2017-08-08 20:35] #159 closed

[2017-08-08 22:01] nicoespeon commented on #167
A little update on this one: I started fixing this, then I realize it won't be solved easily because of the way graph rendering is currently implemented.

For now, when the `.commit()` function is called, the commit is rendered and a shared state is set so the next commit will have a margin so it doesn't collide with the detail.
However, to render the detail as the top in `vertical-reverse` mode,

[2017-08-08 22:10] nicoespeon commented on #172
Hi @atanasyanew,

Indeed, tooltips only appear when messages are not displayed − they were meant to replace message, notably in "compact mode" (picture 2).

Question: why would you need the tooltip when message are displayed. Wouldn't both be redundant?

[2017-08-09 07:21] laymain commented on #159
Hi,

The wrong arrow angle is fixed, that's nice.
But is there any reason why it does not render in the same way
if a commit is made before or after branching?

![image](https://user-images.githubusercontent.com/389065/29109585-d0588d5a-7ce3-11e7-946b-ae2e841f1acc.png)

[2017-08-10 06:06] nicoespeon opened #174 "Graph rendering differs on branching"
From #159.

Graph does not render in the same way if a commit is made before or after branching?

![image](https://user-images.githubusercontent.com/1094774/29156538-c4dbb456-7da2-11e7-8e32-dc0d3fa19f40.png)

https://jsfiddle.net/Laymain/qd2q91pe/

[2017-08-10 06:07] nicoespeon commented on #159
I guess the reason is that rendering scenario doesn't take the same path and happen to follow a different strategy, which lack consistency.

Hopefully, that doesn't seem to be a big deal. But that is not expected.
I created another issue for this: https://github.com/nicoespeon/gitgraph.js/issues/174

Thanks 😉

[2017-08-10 07:24] yodalee commented on #174
I found that, if remove the "mode: compact", the render will be OK. This may give us a hint where the problem is.

[2017-08-10 07:30] yodalee commented on #174
https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L685-L692
I think this may be a feature rather than bug w

[2017-08-28 09:50] Ippo343 opened #175 "Cannot render merging back"
I found that this graph does not render correctly.
I have a feature branch `A` that gets merged into `develop`. Then I would like to merge `develop` back into `B` and finally `B` into `develop`, but the last two merges are not rendered.

This is the rendered image (using JS Fiddle):
![download](https://user-images.githubusercontent.com/7579988/29768511-d41cca3e-8be6-11e7-927b-605054242daf.png)

I

[2017-08-29 17:54] ruddhardesty opened #176 "possible to display tags next to commit"
hi - I'm trying to figure out how to get the tags to appear next to the commits, rather than just below the baseline.  Here is what I am seeing:
![image](https://user-images.githubusercontent.com/8784147/29835576-5153e60c-8ca7-11e7-9569-d33e3fe45002.png)

what I was hoping to accomplish:
![image](https://user-images.githubusercontent.com/8784147/29835679-96263924-8ca7-11e7-99a6-1d24a0db8383.png)

[2017-08-30 19:36] MrKieren commented on #176
I got this working for horizontal diagrams with the following change:

[code]

[2017-08-30 20:14] ruddhardesty commented on #176
Thanks!  that accomplishes what I was trying to do.

I also see issue #173, which has a similar goal.

[2017-08-30 20:14] #176 closed

[2017-10-07 00:38] drichter9293 opened #177 "branch.showLabel causes line to extend after branch line/curve"
As seen in the example below, when creating a new branch with a label, the branch curve is the correct length, but a straight line is inserted directly after, before the first commit of branch1. However, for the unlabeled branch, there is no extra line. Is there a way to remove this extra line when using a label?

https://jsfiddle.net/drichter9293/Lg80wjd1/

[2017-10-09 07:48] nicoespeon commented on #177
That's right, I do think this can be removed even if the label is overlapping the line − which may have been the reason behind this extra line, but I can't remember for sure 🤔

[2017-11-13 19:48] damianb opened #178 "Branch.showLabel, Branch.labelColor, Branch.labelFont are not documented."
As on tin - at least three properties do not currently exist in the JSDoc documentation, which hinders their discovery.

ED: Also labelRotation?

[2017-11-14 02:50] damianb opened #179 "TypeScript definitions do not match implementation"
Noticing a number of issues when trying to use the current Typescript definitions.

[code]
results in:
[code]
(seems that BranchOptions does not specify column as a valid option...)

---

[code]
results in:
[code]
(implying that `branch.commit()` returns `void`? which it does not seem to; it seems to be a fluent interface.)

---

[code]
results in:
[code]
(seems that labelFont is available on the

[2017-11-16 12:47] fabien0102 commented on #179
😕 It's an old project with also an old architecture (only one file…) So all the typescript definition are generated from JSdoc with a custom script ^^. No JSdoc, no typescript definition…

If you can complete the JSdoc to fix this and make a PR, it should be awesome 😄

Note: You can generate types with `npm run tsd` to test the generated definition 😉

[2017-11-18 16:27] stavalfi opened #180 "Show numbers (1,2,3,4,...) inside commits"
When I write a toturial or a presentation, I must have this feature or else I would spent too much time to describe what the graph is.

Also there is a bug in the arrows:
(I edit the example in your source code - I only edited the index.js file):

![](https://i.imgur.com/B5M2xaW.png)

index.js file:

[code]

[2017-12-02 23:13] patcon opened #181 "Allow commit to have image at node"
Great project! Just discovered it!

The thought was that if images were possible, then people could easily use branches of specially-themed commits adapt this to show how certain branches get deployed to various services.

I barely looked into the code yet, but do you think this would be a valuable feature? Thanks!

[2017-12-07 20:55] nicoespeon commented on #181
Hi @patcon and thanks for the kind words 😄

🤔 I see what you mean and I feel that'd be a very specific use case. Plus, I think it would not be easy to implement properly considering the current codebase.

I leave this open to discussion though. I feel there may be something we can do to allow people to customize the rendering by extending it, so it could be adapted to different use cases without c

[2017-12-23 18:43] yodalee commented on #177
I locate the reason of this extended:
https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L782-L783
It seems that extended line is added to let label overlap the line.

[2018-01-05 21:11] bitbythecron opened #182 "Uncaught TypeError: Cannot read property 'getContext' of undefined"
I'm using the following HTML file and when I open it in a browser I see blank/empty web page:

[code]

When I open developer tools I see the following console error:

    Uncaught TypeError: Cannot read property 'getContext' of undefined

**Any ideas what the fix is?**

[2018-01-06 17:29] fabien0102 commented on #182
mmm, try to put the script after the canvas declaration ;)

[2018-01-07 02:46] bitbythecron commented on #182
Thanks @fabien0102 -- please see my updates, I tried your suggestion and still the exact same problem, any ideas? Thanks again!

[2018-01-07 09:38] fabien0102 commented on #182
@bitbythecron It's working perfectly with your updated script, but you need to add some branchs/commits to show 😄

Try to add `gitgraph.branch().commit().commit();` for example :wink:

[2018-01-09 14:23] zharvey-welltok opened #183 "Export graphs to image file?"
Is it possible to export these "*GitGraphs*" as images (PNG, JPG even PDF)? I didn't see any evidence in the docs but I could have missed something.

Unless anybody has any better ideas I'm thinking that I'll just need to take a screenshot of the final graph (from inside my browser), although that feels a little hacky! Thanks for any-and-all input/steering!

[2018-01-10 09:17] fabien0102 commented on #183
Screenshot seems to be the better solution ^^ and you can print as a PDF for the PDF export :wink:

It's just totally out of the scope of this library :wink:

[2018-01-15 11:19] brampat opened #184 "Merge gives Uncaught TypeError: Cannot read property 'y' of null"
When I do "master.merge(local_master, "Merge");" I get the above JS error. Am I doing something wrong?

Code:
[code]

[2018-01-15 11:28] brampat commented on #184
Also, is there a way to display commits on different branches on the same X or Y coordinate? In the docs, where example pics are given for the blackarrow and metro templates, the commits directly after the split are on the same x-coordinates.

[2018-01-15 13:58] fabien0102 commented on #184
It's seams to have a bug, try to add a commit on the local_master before the merge and it's works :wink:
For have the same X, it's already here, it just depend of the order of your history

[code]

[2018-01-15 14:17] brampat commented on #184
@fabien0102 Thanks, so I guess it's not possible to to a merge (as pointed out in Chrome's dev-console) to do a merge when the org branch has no intermediate commit? Okay.

As for same x-coords: I've been fiddling a bit with orders and noticed this does make it sometimes possible to align commits on the same X. I'll fiddle some more to see if I can get it to work.

Thanks again.

[2018-01-15 14:17] #184 closed

[2018-01-16 14:50] denpatin opened #185 "Cannot read property 'color' of undefined"
The original issue comes from Gitea: https://github.com/go-gitea/gitea/issues/3382

But still I'm duplicating the text:

## Description

There're not so many branches that a currently simultaneously used (around 6-7), however the overall number of branches is 28. Something started to go wrong today then the git graph stopped to display correctly—there're no more colors at all. Below are the screen

[2018-01-17 10:09] denpatin commented on #185
As said [here](https://github.com/go-gitea/gitea/issues/3382#issuecomment-358249504), this isn't an appropriate repo for the issue. So I close it.

[2018-01-17 10:09] #185 closed

[2018-01-17 11:00] nicoespeon commented on #185
No problem @denpatin. Actually that's interesting, I didn't knew there was another "gitgraph.js" project.

Sorry for the confusion. Hope you problem will be solved 😉

[2018-01-17 11:05] nicoespeon commented on #183
In addition to what @fabien0102 said: exporting graphes as images may be done with an extension of the lib, but that's indeed not the goal of the core lib.

Furthermore, we are not actively maintaining the library for now, so I'd go for a screenshot solution too 👍

I'm closing this but feel free to ask if you have any further question.

[2018-01-17 11:05] #183 closed

[2018-01-17 11:09] nicoespeon commented on #182
Hi @bitbythecron 👋

Do you still have the problem, even after trying @fabien0102's suggestion?

[2018-01-17 11:13] denpatin commented on #185
@nicoespeon Yours has much more stars so I thought it's more relevant :)

[2018-01-18 15:52] majvan opened #186 "The blackarrow template displays incorrect arrow"
Hi,
the following code shows that if after branching new branch you create first commit on parent branch, then the next commit on a new branch, the arrow does not show properly.

var gitgraph = new GitGraph({
  template: "blackarrow",
  reverseArrow: false,
  orientation: "horizontal",
  mode: "extended"
});
var master = gitgraph.branch("master");
master.commit()
var release1 = master.branch("rele

[2018-01-19 04:54] rwhiten1 commented on #182
FWIW, I was having the exact same problem described by @bitbythecron and this suggestion:

Fixed it for me.

[2018-01-19 07:52] nicoespeon commented on #182
Thanks for the feedback @rwhiten1 👍
I consider the issue closed then.

[2018-01-19 07:52] #182 closed

[2018-01-21 21:57] fabien0102 opened #187 "Gitgraph.js v2 - The big remodelling!… and more"
# Gitgraph.js v2

**Project board to track completion:** https://github.com/nicoespeon/gitgraph.js/projects/2

No timeline for a release yet. But…
@fabien0102 & @nicoespeon work at least 1h of remote pair-programming every week on this 👨‍🎤🎸

## ✏️ Todo

### When everything else will be done

- [x] List changes between v1 and v2 (may find missing stuff for v2)
- [x] Clean public API
- [x] Update RE

[2018-01-22 07:54] nicoespeon commented on #187
Thanks @fabien0102 for posting it. I added a WHY at the beginning 😉

This issue is open to public discussions, in case anyone want to step in.

[2018-01-26 03:36] 386845154a opened #189 "help！！！"
![image](https://user-images.githubusercontent.com/24634383/35424151-9af7bef4-028c-11e8-9446-f4276ab5b6eb.png)
![image](https://user-images.githubusercontent.com/24634383/35424211-08f3dc9e-028d-11e8-98f4-3a4c35c72879.png)

![image](https://user-images.githubusercontent.com/24634383/35424189-dae260be-028c-11e8-8323-c97f019497bf.png)
 why！！！

[2018-01-26 06:04] 386845154a commented on #189
gitGraph is not defined

[2018-01-26 07:06] 386845154a commented on #189
![image](https://user-images.githubusercontent.com/24634383/35428499-607c55f0-02aa-11e8-8c57-f068bc82ee73.png)
![image](https://user-images.githubusercontent.com/24634383/35428514-6d24eb78-02aa-11e8-800b-90c57dd6abb8.png)

[2018-01-26 08:58] #189 closed

[2018-02-05 15:16] Letme commented on #187
I really like the development of all this especially with the core separation. I am using Sphinx (reStructured text) for documentation a lot and I see possibility of a extension-plugin for this. Basically with above description v2 could enable this integration a bit more naturally.

Any timeline on this?

[2018-02-12 20:04] Turiok commented on #187
Hi!

I'm just discovering your lib. I have the same needs that you. Draw a git history to explain workflow or use case easily. I think, It'll be cool to have 2 features.
- A wrong commit. Maybe a cross on the commit to explain it's not a good thing to do.
- A gui to create the html and javascript.
- Maybe integrate the API in markdown to put on presentation  slide like revealJS or ImpressJS for no

[2018-02-14 13:52] fabien0102 commented on #187
First of all, sorry for the late, I was in vacations 😎  ^^

@Letme For the timeline, hard to said, @nicoespeon and me are little bit busy for now, so we trying to work on it but as a side project only 😉 BTW, if you want to work on an extension, we can maybe try to work in parallel (with a mock of gitgraph-core) it can be a good way to have the best design as possible of the gitgraph-core API

@Tur

[2018-02-20 10:32] dolanmiu commented on #187
Do you guys want to make this project into a TypeScript project? I can help with that

[2018-02-20 10:54] dolanmiu commented on #187
I have noticed test files are under a `__test__` folder: `https://github.com/nicoespeon/gitgraph.js/blob/2.0.0/packages/gitgraph-core/src/__tests__/branch.test.ts`

What do you think about putting them on the same level as the class, and instead of `.test.ts`, have `.spec.ts`? Thats how `Angular` does it

[2018-02-20 10:57] dolanmiu commented on #187
Could we add `prettier` into the project:

https://github.com/prettier/prettier

Just simply add `prettier` in `package.json`, and add a `.prettierrc.yml`

[2018-02-20 11:55] fabien0102 commented on #187
Hello @dolanmiu
For the tests, it’s just because I plan to have more integration tests with some json or something like this, I’m also a big fan of test fils at the same level ;) It will probably evolve a lot, I want to have different layers a tests, especially for the rendering part ;) Just testing and and refactoring during this research process ^^

For prettier, I have set ts-lint and it’s do t

[2018-02-20 11:57] fabien0102 commented on #187
Note: I want to have only one source a truth about lint rules ;)

[2018-02-20 12:01] dolanmiu commented on #187
@fabien0102 prettier does a different job, but a similar job. In my projects, I use both tslint **and** prettier :smile:

Read this:

https://alexjoverm.github.io/2017/06/12/Use-Prettier-with-TSLint-and-be-happy/

Up to you, I like codebases which are **super** strict

[2018-02-20 12:04] fabien0102 commented on #187
I like strict too ^^ I check this article ;) Thanks for yours suggestions :)

[2018-02-20 12:07] fabien0102 commented on #187
Normally hunky and linted-stage done this (fix lint on pre-commit, you can check the package.json of gitgraph-core ;) ) and you have also a nice vscode-tslint extension that do the same ;)

(I say normally because I failed yesterday ^^)

[2018-02-20 12:14] dolanmiu commented on #187
How will you structure the rendering part?

`packages/gitgraph-renderer`?

Will it be a port of the current `.render()` methods, or a complete rewrite? I hear you mention `rxjs`

[2018-02-20 12:15] dolanmiu commented on #187
I use `vscode-tslint` as well :smile:

From my knowledge, I don't believe it has a "fix all linting errors on save" functionallity (unless I am oblivious) :joy:

[2018-02-20 12:23] fabien0102 commented on #187
https://marketplace.visualstudio.com/items?itemName=eg2.tslint

autofixonsave ;)

[2018-02-20 12:32] fabien0102 commented on #187
For the rendering part, We plan to put all data into the core (x, y of each commit) and after to implement the render method into other packages (gitgraph-react for example)
For rxjs, will see, I’m trying to keep this with the less dependencies as possible for the moment ;)

As you can see, the render method into gitgraph-cite is abstract (so a part of child implementation ;) ) (one time more, it’

[2018-02-20 12:42] dolanmiu commented on #187
What do you think about creating a `gitgraph-renderer`, and have `gitgraph-react` and `gitgraph-angular` __wrap__ around that? I use Angular myself

I am thinking of creating an `ngx-gitgraph` for Angular, but now I am thinking of holding off until things are finalised? :smile:

[2018-02-20 12:45] dolanmiu commented on #187
Wow didn't know about this

[2018-02-20 12:47] fabien0102 commented on #187
mmm need to think about that ^^ My original idea is to have a "all inclusive" `gitgraph-core` that provide you everything except the `render` implementation. Why not for another layer with `gitgraph-renderer` but not entirely sure, I keep this simple (even if it's not always easy) so depending of the code direction, I will split this or not ^^ But I keep this in mind ;)

[2018-02-20 12:48] fabien0102 commented on #187
@dolanmiu BTW if you want to take care of the angular part, be my guest! (I'm more a react guy now ^^)

[2018-02-20 12:53] dolanmiu commented on #187
Ok, I do think we should create a gitgraph-renderer package, and have react, angular, and vanilla JS use it

Otherwise there will be so much repeated code

Sure! I will do the angular side

[2018-02-20 12:57] fabien0102 commented on #187
For now the plan is to merge the `gitgraph-renderer` and `gitgraph-core` (I'm totally agree about to avoid the code duplication) the question is `gitgraph-core` or `gitgraph-core+gitgraph-renderer`?  (but don't worry, all the rendering data will be provided before the `gitgraph-react|angular|vanilla` part :wink:)

[2018-02-24 16:40] smeijer commented on #180
Innertext for the commits would indeed be most welcome. Numbers, letters, emoji's. Simply custom text.

[2018-02-24 20:33] fabien0102 commented on #180
Good idea :wink: I will try to add this to the v2 !

[2018-02-25 08:55] stavalfi commented on #180
Thanks @fabien0102 , also look at the bug I found.

[2018-02-25 09:02] fabien0102 commented on #180
@stavalfi For instant I'm fully on the v2 implementation and it's a total rewrite :wink: but I keep in mind this kind of bug to avoid to reproduce them into the v2 ^^ (I will also add a looooooot of unit/integration tests on the v2, so it will be easier to have less bugs :wink:)

[2018-02-26 06:50] stavalfi commented on #180
Thanks so much!!!!!!

[2018-03-01 12:01] caracal7 opened #190 "How to clear and rebuild graph?"

[2018-03-01 14:20] caracal7 commented on #190
I found hacky solution how to reset graph and rebuild it with new data)
[code]

[2018-03-02 14:22] fabien0102 commented on #190
Nice hack 👍 I can add a `gitgraph.reset()` to the v2 (mmm I can't use the keyword `reset`… it's a git keyword ^^ Any naming idea ?)

[2018-03-02 14:35] caracal7 commented on #190
I think “clear()” is good solution)
But I don’t know that is inside gitgraph and maybe somewhere

[2018-03-07 22:22] caracal7 opened #191 "Is it possible to sort commits tree by date?"

[2018-03-08 07:29] fabien0102 commented on #191
I don't have your point, by nature commits are sorted by date 🤔

[2018-03-08 11:07] caracal7 commented on #191
Oppps... This is my mistake...
Everything seem to be ok.
![2018-03-08 13 52 15](https://user-images.githubusercontent.com/5710103/37147458-09ab03ae-22d8-11e8-987a-a93ebe7d77ec.png)

Thanks)

[2018-03-08 11:21] fabien0102 commented on #191
Your welcome ;)

[2018-03-08 11:21] #191 closed

[2018-03-08 15:52] Norfeldt commented on #181
How was the gitgraph.js homepage made? It's beautiful!

Seems to me like its running markdown (or pure html) between the commits.

It's totally a feature, but it would be awesome to dump some markdown below the commit message - like a screenshot of diff or terminal commands.

[2018-03-10 07:30] fabien0102 commented on #181
@Nordeldt You can have access to source code there -> https://github.com/nicoespeon/gitgraph.js/tree/gh-pages?files=1 It's pure HTML 😉

For the markdown, I need to think about this, but it can be a good idea for v2 😀

[2018-03-17 12:47] fabien0102 commented on #187
I've just added a `Todo` section on the first message, so everybody can have a better idea of the current progress :wink:

[2018-03-17 22:24] fabien0102 commented on #190
https://github.com/nicoespeon/gitgraph.js/commit/3f59810fd250334eb87997411402630b605a972c

Included in the v2.0.0 (of course, for now the v2.0.0 don't draw graph yet, but the core is almost finish :wink:) @caracal7 thank again for the idea 😃

[2018-03-17 22:24] #190 closed

[2018-03-20 15:26] dolanmiu commented on #187
How should we do angular's `ng-gitgraph`?

I noticed you put the react one inside this repository, will `ng-gitgraph` be similar?

[2018-03-20 18:24] fabien0102 commented on #187
@dolanmiu Logically it will be `gitgraph-angular` (just to have the same pattern as the react module) But I think that you should wait a little bit to begin the angular implementation, I'm actually fixing a lot of bugs in `gitgraph-core` (the joy of the integration) and I will also made a generator to create new modules :wink:

BTW if you have any idea for this https://github.com/nicoespeon/gitgra

[2018-04-02 23:06] nrigaudiere commented on #187
@fabien0102 For having used (and sometimes missused) Lerna, I have found a pretty convincing alternative called [OaO](https://github.com/guigrpa/oao). I suggest you check it out!

@dolanmiu Indeed an Angular5 version would come in handy!

Great job to the team ;)

[2018-04-17 15:53] michaelpalumbo commented on #187
Hey gang, I would love to make use of this project. Is there any sense of the progress around issue #38 ? I'd be happy to contribute toward this, but not sure if/where to begin...

[2018-04-18 06:42] fabien0102 commented on #187
Hey @michaelpalumbo
Render a graph from a JSON is definitively in the scope of this v2 and it's also the only unit test skipped for now ^^
The format used, we choose the output of this -> https://github.com/fabien0102/git2json and we use the same schema in `gitgraph-core` (so it should be not so hard to import some external JSON ;) )

The actual attempt -> https://github.com/nicoespeon/gitgraph.js

[2018-04-23 15:21] Gong-Bao-Chicken opened #193 "Possible to change commit message formatting?"
Hello everyone,
Is there an option to adjust the commit message more freely?
I have only seen the option to adjust color and font. I would like to print / format the author in bold for example.

Thanks for your help! Have been experimenting with gitgraph for 2 days and love the idea!
Best regards

[2018-04-23 16:19] fabien0102 commented on #193
No option like this for now but it's plan for the V2 ;)

[2018-04-24 07:29] Gong-Bao-Chicken commented on #193
nice! 😀 Thanks for the info!

[2018-04-24 07:29] #193 closed

[2018-04-25 07:54] Gong-Bao-Chicken opened #194 "getScale issues with detail text"
Basically if the viewport is defined as follows:

`<meta name="viewport" content="width=device-width, initial-scale=1">`

the scale will be calculated within the gitgraph automatically. This results in issues when using vertical mode and displaying details. Since the details are written and positioned as html containers and the graph itself is drawn on the canvas.

Setting the Scale to 1 inside th

[2018-05-01 08:17] fabien0102 commented on #194
Hello @Gong-Bao-Chicken , thanks for your feedback and your many updates 😃 For now (with the actual version of gitgraph) the simplest is to "fork" (means copy/past the only source in your project) and make the modification for your special case ^^ (and if you find a general fix, go for it, but with this version, it's really hard to be sure that you don't break other cases, it's the main reason of

[2018-05-01 11:31] Gong-Bao-Chicken commented on #194
yeah, thats exactly what i did 👍

As i mentioned. The main problem i ran into was that the graph and commit / label / tags are drawn on the canvas, while the details are not - thus resulting in funny results on different devices when you try to align the details with anything, since its actually html not the canvas. I am not sure if it was a better idea to use REM for calculation instead and have

[2018-05-01 13:24] fabien0102 commented on #194
Nice! Thanks for sharing 👍

For your issue about duplicate config, the simpliest thing you can do I guess, is to made some helpers

Example:
[code]

The code is quite ugly but should works, after I let you work around with you real use case :wink: So you can easily refactor all your styles / colors in a pretty abstraction layer!

Have fun!

[2018-05-01 13:32] fabien0102 commented on #194
And if you need more flexibility, you can also give the gitgraph instance to the helper function, and there… unlimited functionnalities for you ^^

[code]

[2018-05-01 15:11] Gong-Bao-Chicken commented on #194
looks defnitely better then my current implementation :) at least the output should be much clearer! Thanks so much for your suggestion and support :-)   a helper-function for each type of action should be enough i guess :-)

[2018-06-08 14:11] Andrey-Pavlov commented on #187
Hello guys. I have a question: Could you advice me how to render Git graph with nodes like this; { commitId, parents: [commit1Id, commit2Id] ? (I mean I don't know branch name for each commit, only ids of parent commits)

[2018-06-08 21:46] fabien0102 commented on #187
Hello,
with the legacy version you can map over yours commits and call stupidly gitgraph.commit on each commit ^^ (this library was not built for this ;) ) Otherwise you need to wait for the v2 (cf my previous comment), it's my only unit test skip for now 😊

[2018-06-09 02:40] nicoespeon commented on #187
@Andrey-Pavlov also, branches are *references* to commits. Technically, you can think about the git graph as a graph of commits (nodes linked togethers).

But yeah, as Fabien said: v1 of the lib was not built this way. It consists of branches, which are collections of commits. Because of this wrong design, some features are hacky to implement.

Hopefully, we're fixing that in the v2. Also, the cor

[2018-06-12 15:03] Nimzi-Git opened #195 "Need HELP:: Not able to import GitGraph in my component -gitgraph.d.ts is not a mdule"
Hi,

This must be a very basic question but need help to configure GitGraph in my project.
I am trying to import GitGraph module but it is saying that gitgraph.d.ts is not a mdule(**full error::** c:/Projects/Test Projects/firstAngProject/node_modules/gitgraph.js/build/gitgraph.d.ts' is not a module.)
`import GitGraph from '../../../node_modules/gitgraph.js';`
earlier I have just installed using
n

[2018-06-13 13:19] Andrey-Pavlov commented on #38
@YMA-MDL I would like first of all to thank you for your solution. It helped me so much.

Have you found solution to how merge branches to master and not vice versa? I have multiple "master into" merge commits.

[2018-06-13 13:56] nicoespeon commented on #195
Hi @Nimzi-Git!

I can see the ES6 import syntax here. So, to get more context: how do your project compiles? Are you using babel directly, webpack, parcel? If so, what is the configuration?

If that's any useful, you should find compiled Gitgraph.js files in the `build/` folder.

[2018-06-14 02:04] nicoespeon commented on #187
@Andrey-Pavlov how do you perform the merging?

That would happen if you do something like `branch.merge(master)` instead of `master.merge(branch)`.
The pattern is: `branchX.merge(branchToMergeIntoBranchX)`.

[2018-07-03 20:32] engmagdy87 commented on #195
both these importing statements fails
import GitGraph from "gitgraph.js";
import GitGraph from "../node_modules/gitgraph.js/build/gitgraph";

console.log(GitGraph) returns empty object

[2018-07-03 20:41] fabien0102 commented on #195
Due to the old pattern of gitgraph.js, you need to use this lib like this:

[code]

It's a simple function that add `GitGraph` to window ;) (a new version is in progress, with a real integration with ReactJS here -> #188 )

[2018-07-03 21:18] engmagdy87 commented on #195
@Nimzi-Git
import "gitgraph.js";
var gitGraph = window.GitGraph;
then replace any **GitGraph** with **gitGraph**
thx @fabien0102 :blush:

[2018-07-03 21:22] engmagdy87 commented on #195
@fabien0102
when the new version is expected to be released ?

[2018-07-03 21:32] engmagdy87 commented on #195
@fabien0102
I just try to visualize our repo activities and render it using reactjs and may be in future in vuejs

[2018-07-03 21:41] fabien0102 commented on #195
@engmagdy87 Thanks for your feedback, for now we are focus on the reactjs version (because I prefer react) but all the core logic of gitgraph is now extracted, so it's easier to do a vuejs integration ;)

Just a last question, for your repo activities, it's from github/bitbucket or a custom git repo? (we will working soon on the "import" system, so it's always interesting to have some real usecase

[2018-07-03 21:52] engmagdy87 commented on #195
@fabien0102 from gitlab :grin:

[2018-07-03 21:57] engmagdy87 commented on #195
@fabien0102 now i just get activities locally using [simple-git](https://www.npmjs.com/package/simple-git) then I will visualize it using gitgraph.js

[2018-07-03 22:01] fabien0102 commented on #195
For the v2, we will begin with this kind of input -> https://github.com/fabien0102/git2json

A simple lib that extract a pretty json for `git log`, but I will try this `simple-git` it's also look interresting!

[2018-07-06 17:17] nicoespeon commented on #195
Thanks @fabien0102 for replying with all the details, you rock 👍

I'm closing the issue since the initial problem seems solved to me. If it's not the case, please tell me @Nimzi-Git 👌

[2018-07-06 17:17] #195 closed

[2018-07-07 21:52] nicoespeon commented on #187
FYI, I updated information in the first post with current state of v2.

@fabien0102 I'd like we discuss this week how we could ship some alpha version soon. Also, we may start splitting this issue into multiple ones, using GitHub project & milestone to make it easier to follow progression. It becomes kinda hard to track everything down to a single todo-list 😅

[2018-07-07 22:07] nicoespeon commented on #194
@Gong-Bao-Chicken hi 👋

FYI, I'm closing this issue because, as far as I understood, Fabien's solution helped you solve your problem. Also, as of [ongoing v2](#187), this issue may not be relevant anymore.

If I'm wrong, don't hesitate to tell me. I'd re-open the issue 😉

[2018-07-07 22:07] #194 closed

[2018-07-07 22:09] nicoespeon commented on #156
Closing this issue since it'll be resolved with #187. 🙌

[2018-07-07 22:09] #156 closed

[2018-07-07 22:12] nicoespeon commented on #118
Closing this issue as it would be covered by #187.

Modeling is closer to git internals. However, model is probably omitting some parts discussed here, like references to remotes. That's because we only develop the model that fits our use cases. We'll improve the model with new use cases 👌

[2018-07-07 22:12] #118 closed

[2018-07-09 13:31] nicoespeon commented on #180
Hi @stavalfi!

As of [v1.12.0](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.12.0), you can now do that kind of thing:

[code]

Kudos to @carlorivera.

As Fabien said, we'll deal with arrow issues in v2. Thus, I'm closing the issue 😉

[2018-07-09 13:31] #180 closed

[2018-07-09 14:04] nicoespeon commented on #178
I realized no answer was given to this issue.

So, for the record, hopefully this will be addressed with v2 (#187). Thus, we're not working on this on v1.

However, if you wish to make a PR to bring that to v1, we'll happily review & release it 👌

[2018-07-10 19:07] mrts commented on #187
First, thanks for Gitgraph, it is awesome!

Are commit messages planned for horizontal rendering in v2?

Currently this:
[code]

Gives this:

![image](https://user-images.githubusercontent.com/44880/42531432-9f2581e6-848c-11e8-9f65-382774a40ef8.png)

No commit messages as you can see... also, `horizontal-reverse` is a bit odd name for the orientation, I would expect left to right to be "normal" ho

[2018-07-11 05:01] fabien0102 commented on #187
@mrts Hiding commits in horizontal mode was totally intentional due to the available space to display the commits.
But if you have an idea to display nicely commits in this mode, please share! 😀

I've probably inverse the commits order in the v2 (I need to check) the problem is that is not right to left of left to right here, it's more "last commit first" vs "first commit first"  but we can also t

[2018-07-12 01:28] nicoespeon commented on #187
About the naming, maybe `HorizontalChronological` ``

[2018-07-12 02:53] nicoespeon commented on #187
#sorryIMisclicked 😉

[2018-07-12 07:16] mrts commented on #187
@fabien0102, perhaps something like this for displaying commit messages in horizontal orientation:
https://stackoverflow.com/a/23523697

[2018-07-15 17:02] j-barata commented on #38
Hi,
Please consider this : https://github.com/j-barata/react-gitgraph-demo

[2018-07-15 17:32] fabien0102 commented on #38
@j-barata Very interesting, I wasn't aware about this `react-gitgraph` ^^

BTW, this feature is a part of our plan for the v2 (#188 #187). The actual idea is to take this kind of json (https://github.com/fabien0102/git2json/blob/master/test/gitlog.expected) and use it in react with something like this:

[code]
or
[code]

You have all examples of the new gitgraph-react usage here -> https://github.

[2018-08-02 15:17] maxime-bus opened #199 "Display the tip of each branch"
Hi,

It would be nice to see where tip branches are, something like this :

           master
             |
             v
    x--x--x--x
       |\
       | x--x--x--x--x
       |      /      ^
        \    /       |
         x--x        |
            ^        |
            |    branch #1
            |
      branch whatever

What do you think :smile: ?

[2018-08-04 17:56] nicoespeon commented on #199
Hi @maxime-bus 👋

Thanks for the suggestion. Indeed, this would be nice. There are other issues that I think are similar to your suggestion: #160 & #142. Would they fit your needs?

Also, regarding current status of this lib: @fabien0102 & I are working on a v2 that would make easier to do such changes. Current modeling makes it challenging to close these issues + there is no test so a high risk o

[2018-08-08 14:34] careforsometeasir opened #200 "Cannot set property 'elementId' of undefined"
I am having issues with using the library,
I tried running it in Chrome 67.0.3396.99, Edge 42.17134.1.0, and Firefox 61.0.1 on Windows 10 using the latest release (1.12.0), however every time I opened it I had the same error message:
Chrome: `Uncaught TypeError: Cannot set property 'elementId' of undefined at GitGraph (gitgraph.js:36)`
Firefox: `TypeError: this is undefined`
Edge: `SCRIPT5007: Una

[2018-08-08 14:46] careforsometeasir commented on #200
Chrome
![Chrome](https://user-images.githubusercontent.com/16510465/43844558-f218a562-9b21-11e8-8e61-4bc766ed78d7.png)
Firefox
![Firefox](https://user-images.githubusercontent.com/16510465/43844615-15fd4cee-9b22-11e8-880c-ef5aeaad3dde.png)
Edge
![Edge](https://user-images.githubusercontent.com/16510465/43844643-26c75236-9b22-11e8-9bff-3b447d5a949e.png)

[2018-08-08 17:00] careforsometeasir commented on #200
Sorry for cluttering your issues!
I just realised I missed out the `new` statement

[2018-08-08 17:00] #200 closed

[2018-08-22 14:07] nicoespeon opened #202 "Ensure bundle size is still reasonable"
Gitgraph.js v1 had no dependency. As we work on v2 (#188), we start using external libs. This may end up with a bigger bundle size at the end, and we want to keep it reasonable for front-end libs.

We should have a look at final bundle size (and optimise it) when v2 is released.

Overall, we can see that `@gitgraph/core` is already 52kB gzipped 😱
https://bundlephobia.com/result?p=@gitgraph/core

B

[2018-08-22 14:12] nicoespeon opened #203 "Online playground to generate & export graph"
I love that [Term Sheets](https://term-sheets.neat.software/) provides an online playground on their website, so you can actually use the tool without installing anything. 👐

I'd like to do the same on Gitgraph.js website, once v2 is out.

People should be able to:
- export the generated SVG (from `gitgraph-react`)
- export an image

[2018-08-22 22:46] spiridoncha opened #204 "Support octopus merge ('merge' with more than two parents)"
I guess more then two parents not suppored because of syntax - `from_branch.merge(to_branch)`, while git use `git merge from_branch from_branch ...`.

There is some limitation in this lib that may to stop me from implementing that feature?

[2018-08-24 06:32] fabien0102 commented on #204
I have personally never use this command in real life ^^ But we can probably include this in the v2, I just need to try locally to see how this command behave 😄

We can modify [this function](https://github.com/nicoespeon/gitgraph.js/blob/2.0.0/packages/gitgraph-core/src/branch.ts#L133) to accept multiple branches, it should be not so complicated.

Please note that I prefer add this feature to the

[2018-08-26 14:24] nigtas opened #205 "Problem with declared interface of CommitOptions"
In the example, it is shown, that you can add Id of DOM element, which will be rendered near the commit as details. But the declaration file has CommitOptions interface declared with only detail param, so if using language as Typescript, it is a problem to pass param with Id.
Tried to pass something to detail param, but it is overwritten to null, because in the code detailId is searched...
Seems l

[2018-08-27 20:34] AlexCppns opened #206 "Cursor: pointer css on commit element"
Hello,

I have been trying to add a cursor: pointer css attribute on my commit elements but I cannot find a way to access them...

[2018-08-28 01:56] nicoespeon commented on #206
Hi @AlexCppns 👋

Indeed, the graph is rendered with canvas, so you can't access commits with CSS to do what you want.

But fortunately, there are events you can plug-in to do this (and they are terribly documented, indeed). For example, a regular ES5 code to change the cursor on commit mouseover would be:

[code]

You can find more examples in this file: https://github.com/nicoespeon/gitgraph.js/b

[2018-08-28 02:04] nicoespeon commented on #205
Hi @nigtas 👋

Indeed, I'm not sure how this is interpreted: https://github.com/nicoespeon/gitgraph.js/blob/bf7a58341c8ff418b854fe1cb3e5e7b29b9d3796/src/gitgraph.js#L652-L653

Could you give us the code snippet (or a screenshot) showing the error?

cc @fabien0102

P.S. : hopefully, this kind of issues will be fixed with #188 since we'll be using proper TypeScript.

[2018-08-28 14:44] nigtas commented on #205
Just check up your build folder and file gitgraph.d.ts.
There you will see, what is the interface.

[2018-08-28 18:59] fabien0102 commented on #205
Everything is generated from the JSDoc here -> https://github.com/nicoespeon/gitgraph.js/blob/develop/src/gitgraph.js#L614

@nigtas If you have any missing props in this interface (or another one), please make a PR and I will review this with pleasure 😉

[2018-08-29 07:46] nigtas commented on #205
@fabien0102 Yea, so there is the mistake, detail instead of detailId :) I will check it up later on maybe, if find some time.
Also, I would change default value of message of this George Michael thingy.. Does not look too professional :)
Anyway, little bit offtopic, but.. Is it possible to make this graph kinda zoomed out? I want to make it small and visible with more commits, but spacing does not

[2018-08-30 11:54] nicoespeon commented on #186
This will be fixed with #187 👍

[2018-08-30 13:26] twentytwokhz commented on #186
Joi, 30 aug. 2018, 14:54 Nicolas Carlo <notifications@github.com> a scris:

[2018-08-30 17:08] nicoespeon commented on #204
Turning this into a feature request. Thanks for suggestion @spiridoncha.

[2018-08-30 18:03] nicoespeon commented on #172
Closing stale issue.

[2018-08-30 18:03] #172 closed

[2018-08-31 02:03] nicoespeon opened #207 "Merge with fast-forward"
This feature is not yet implemented. All merges are rendered with a merge commit.

Now we first need to check on git internals how is a fast-forward merge perform (e.g. is this just a rebase?).

The fast-forward merged branch should be on the same column than the target branch. The end result should be a straight line (but with 2 branches).

[2018-08-31 02:15] nicoespeon commented on #175
After (late) investigations, it turns out this fails on v1.6.0 and was finally fixed with [v1.8.1](https://github.com/nicoespeon/gitgraph.js/releases/tag/v1.8.1).

Here's a playground showing this works on last release (v1.13.0): https://codepen.io/nicoespeon/pen/aapdXq?editors=0010

Closing the issue, thank you for reporting 👋

[2018-08-31 02:15] #175 closed

[2018-08-31 02:17] nicoespeon commented on #117
This will be solved with #187. More information when we'll release it 👌

[2018-08-31 02:36] nicoespeon commented on #174
From my tests, this will be fixed with #187.

This can be tested with following code:

[code]

[2018-08-31 02:48] nicoespeon commented on #206
I'm closing the issue since I think it should do what you need. If not, do not hesitate to open it again 👍

[2018-08-31 02:48] #206 closed

[2018-08-31 02:52] nicoespeon commented on #179
IMO, this issue will be fixed with #187 since we use proper TypeScript instead of creating types from the JS API 👌

[2018-08-31 02:59] nicoespeon commented on #177
For later resolution, here's a playground showing the issue: https://codepen.io/nicoespeon/pen/qMRZXg?editors=0010

![image](https://user-images.githubusercontent.com/1094774/44890428-39dbf600-aca8-11e8-8cfc-4efd0214e5bd.png)

The problem is that `branch1` is pushed to the right with a straight line, while the second branch is not. The difference is that we show the label of `branch1`.

[2018-08-31 03:00] nicoespeon commented on #169
@fabien0102 hey, we just talked about it today! Let's do that on v2 👍

[2018-08-31 03:07] nicoespeon commented on #38
This will be fixed with v2 with an `import()` function that'd take a JSON-input. The format of the JSON will be the one generated by [git2json](https://github.com/fabien0102/git2json) to begin with.

[2018-09-04 07:55] brunojcm commented on #204
I'm planning to use this library in a git-based solution I'm building, but the lack of this feature is a deal-breaker for the project here :(

I guess I'd have to fork and implement it somehow if I really need that, right? Please, let me know if I can help somehow and if you would be accepting PRs for that. I'm happy to work on v2 if there is a version stable enough I can use it in the project her

[2018-09-05 02:09] nicoespeon commented on #204
Hi @brunojcm 👋

Hmmm yep indeed we're not working on this issue right now. But PRs are welcomed if you want to dig into it, we'll review / merge / release it 👌

We didn't yet released a release candidate for v2 so it might be risky to implement there as it's not stable yet. If you plan to use it in following weeks / months, it's best to do it on v1. Then we'll port the feature on v2 when it's out.

[2018-09-05 06:55] fabien0102 commented on #204
@brunojcm It's stable enough and well tested :angel: if you want to implement this octopus merge, I will choose the v2. Furthermore, it can be very interesting to have a real project as integration test 💯

Please note that I have less risk aversion than @nicoespeon 😈

[2018-09-05 10:10] dolanmiu opened #208 "When to start gitgraph-angular"
Hey,

Don't know if you remember me, but I was interested in creating `gitgraph-angular`. I have a fair amount of Angular experience

Is there a workable `gitgraph` API to use at the moment, or should I wait?

Let me know

Thanks!

[2018-09-05 22:02] nicoespeon commented on #204
Well, that's our difference in risk-aversion indeed 👼

To be honest, it's stable as we have a good test suite & we're closer to the end than the beginning. Still, the API might change if we find opportunities to make it better. But concerning the octopus merge, you shouldn't be too much impacted

[2018-09-07 14:54] maxime-bus commented on #199
Hello !

Sorry for the late reply. Indeed, #160 and #142 would fit my needs :). Sorry for the duplicates !

[2018-09-07 14:54] #199 closed

[2018-09-13 01:11] dolanmiu commented on #208
I am reading `gitgraph-react` now, is `gitgraph-react` really 205 lines long?

It's abit short no?

Can someone give me some usage examples of `gitgraph-react`, so I can create a similar API in `gitgraph-angular`

[2018-09-13 10:17] dolanmiu commented on #208
Interesting... There is javascript inside the html. I suppose its this JSX phenomenon I keep hearing about :joy:

In Angular, the above would be impossible

What can be done is:

[code]

And in the corresponding `.component.ts` file:

[code]

I am just brain storming here, what do you guys think? I am open to suggestions

Note: Prefixes like `gg` is common in the Angular world to prevent clash:

h

[2018-09-13 15:09] fabien0102 commented on #208
@dolanmiu I need to update my knowledge in angular (I left after the v2 rc4 ^^). But I want to say that you should give the `gitgraph` instance instead of this gitgraphConfig.

So:

[code]

And

[code]

So you can also manipulate the graph after the first render, as add a commit, and everything should follow. We have this in the react version and it's quite cool, you just need to subscribe to any

[2018-09-13 16:34] dolanmiu commented on #208
I will consider this, a potential problem I can see with mutating the `GitGraph` object is that it may not kick off change detection, but who knows

[2018-09-27 23:49] JohnnyJumper commented on #172
I think it can be beneficial to allow tooltips with messages. You can format tooltip to behave as a hint for example. Give more functionality

[2018-10-09 16:53] dazinator opened #210 "[Question] Inherit metro template"
Hi,

I'd like to use metro template as a base, but just tweak a few properties. like `message:displayBranch` etc. I am not sure how to do this --> I can see I can pass in an entirely new template, but can't see how to inherit metro template values as a base!

[2018-10-09 16:56] #210 closed

[2018-10-09 16:56] dazinator commented on #210
Nevermind I found the actual values here: https://github.com/nicoespeon/gitgraph.js/blob/749ee8fb25f8461f850b1eebb47445f2fa40eaa6/src/gitgraph.js#L1541

[2018-10-25 23:04] dolanmiu commented on #208
![image](https://user-images.githubusercontent.com/2917613/47535288-afcc9a00-d8b2-11e8-96ba-768c8cfb298b.png)

I am getting this error when creating `gitgraph-angular`

Any ideas?

[2018-10-26 00:50] dolanmiu commented on #208
Huge progress on the Angular side 😄
![image](https://user-images.githubusercontent.com/2917613/47538088-73546a80-d8c1-11e8-8dad-ae43f629cb67.png)

[2018-10-28 20:14] fabien0102 commented on #208
@dolanmiu Strange for the circular dependency, are you up to date with `2.0.0`? (I remember an issue like this, but it should be fixed (if it's the same issue))

[2018-10-31 00:57] dolanmiu opened #213 "Documentation of v2"
Have you considered doing documentation with docsify? https://docsify.js.org/#/quickstart

And free js.org domain? https://js.org/

Example of what I did before: https://docx.js.org/#/

https://github.com/dolanmiu/docx/tree/master/docs

[2018-11-27 05:17] brunojcm commented on #204
@fabien0102 and @nicoespeon, I finally started trying running the v2 here locally, but I'm having some problems. First time trying to work with a lib outside npm in an Angular project, so sorry if my questions are two dumb.

1. Is v2 supposed to work with angular 2 at all? I managed to add the core module in `tsconfig.app.json` path:
[code]
I also managed to write some code using the core objects

[2018-11-28 03:12] nicoespeon commented on #213
Thanks for sharing @dolanmiu, it looks interesting indeed.

We'll need to talk about documentation of v2. There is the core lib, and all of the independent rendering libs…

I'd say each rendering lib should deal with its own documentation for end-user. So it'd be up to them to choose whatever solution they want (e.g. the React one might use something like [styleguidist](https://react-styleguidist.

[2018-11-28 03:17] nicoespeon commented on #204
@brunojcm indeed, `gitgraph-core` is the core lib which doesn't do the actual rendering. It's framework agnostic. But you need an Angular component to use it and do the rendering: the `gitgraph-angular` lib.

The good news is that @dolanmiu is working on that here: https://github.com/nicoespeon/gitgraph.js/pull/212

Didn't have time to do a proper review of the PR yet, but at least it seems to ren

[2018-11-28 13:36] dolanmiu commented on #213
I have not used gitbook, but docsify is hosted on github pages, and all documentation can be stored in a `/docs` directory of the repository, which is more centralized

From reading gitbook, it seems you need to sign up to another service

[2018-11-29 01:08] nicoespeon commented on #213
Good to know, thanks!

[2019-01-22 01:42] dolanmiu opened #215 "Partial rendering - Paginated rendering"
Will it be possible in V2 to allow mid-way construction of a gitgraph?

Say a commit history has 1 million commits, but I want to only render 50 commits in a tree somewhere in the middle of the history

[2019-01-22 08:44] fabien0102 commented on #215
I guess you can `split` or `filter` your commits before sending them to gitgraph 😉 I don't really see the value to load and filter commits inside gitgraph, commits are just an array of objects, so it's really trivial to implement this kind of functionality around gitgraph.

[2019-01-22 10:15] dolanmiu commented on #215
Its not trivial because a `slice` of commits may have commits which do not have an parent node. The parent node is way far out, outside of the `slice`

[2019-01-22 10:22] fabien0102 commented on #215
Good point, my next question is where come from your 1 million commits? Usually you already have an API if it's from bitbucket/github/gitlab or you have the "legacy" git filter if you are using the cli.

I think that it's more an issue for tools that give you the 50 commits rather than the tool that do the render.

[2019-01-22 14:17] dolanmiu commented on #215
1 million commits was just an example to set the story and mood (bad example :joy: )

Yes, it would need to be paginated. Bitbucket paginates it. But if you notice on BitBucket, it partially renders each 50 or so commits in SVG blocks, and seamlessly stitches them together.

A problem they managed to solve is they render the git graph BACKWARDS, starting from the top.

You scroll down the graph to

[2019-01-25 16:07] cardil opened #217 "Update GitHub Pages"
GitHub pages are not up to date.

GitFlow example is not current, for example.

[2019-01-27 19:16] nicoespeon commented on #217
Hi @cardil 👋

Indeed, the website might not be up-to-date. It may not describe all features of the lib. The truth is we didn't updated the website through releases.

As we're working on v2, we planned to revamp the online website though:
- https://github.com/nicoespeon/gitgraph.js/issues/203 for having an online playground
- https://github.com/nicoespeon/gitgraph.js/issues/213 for documenting the

[2019-01-29 16:19] cardil commented on #217
Here:
![image](https://user-images.githubusercontent.com/540893/51922793-0a155380-23ea-11e9-8253-49033bd601d8.png)

[2019-01-29 23:49] nicoespeon commented on #217
I just updated the website examples, as well as the version of gitgraph that was used in the examples.

As for the main page, I think content is still relevant. v2 will have a more exhaustive user documentation while v1 mostly exposed examples to go further.

Closing the issue, but feel free to tell me if you spot something outdated in particular.
Again, thank you!

[2019-01-29 23:49] #217 closed

[2019-02-02 21:18] nicoespeon commented on #215
Hi @dolanmiu 👋
Yeah, pretty much what @fabien0102 said.

I wanted to add few things:
- This scenario you describe is the typical scenario I expect with the `import()` function. We'll probably have to optimize for performance and rendering when allowing people to import production-like git history to gitgraph.
- However, I don't want to hold back v2 release with this, so I flagged the `import()` fu

[2019-02-02 21:21] nicoespeon commented on #181
I realized this will be doable in v2. Labelling the issue accordingly 😉

[2019-02-10 02:14] nicoespeon commented on #207
It is available with @gitgraph/react (currently v1.0.0-0).

We even have a Story for that:

![image](https://user-images.githubusercontent.com/1094774/52528545-8a239f00-2caf-11e9-94dd-78e29816b436.png)

[code]

[2019-02-10 02:14] #207 closed

[2019-02-10 02:27] nicoespeon commented on #205
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and all types/interfaces are correct there—it's a TS project from the beginning.

Thus, I'm closing this issue as we won't maintain `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it. We still accept PRs if someone really needs it though, but I'd suggest

[2019-02-10 02:27] #205 closed

[2019-02-10 02:30] nicoespeon commented on #186
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it.

We still accept PRs if someone really needs it, but I'd suggest moving to the aforementioned packages. Thanks 🙏

[2019-02-10 02:30] #186 closed

[2019-02-10 02:31] nicoespeon commented on #179
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here—it's a TS project, so TS definitions do match.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it.

We still accept PRs if someone really needs it, but I'd suggest movin

[2019-02-10 02:31] #179 closed

[2019-02-10 02:32] nicoespeon commented on #178
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here—it's a TS project, so everything is documented through types.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it.

We still accept PRs if someone really needs it, but I'

[2019-02-10 02:32] #178 closed

[2019-02-10 02:34] nicoespeon commented on #174
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it.

We still accept PRs if someone really needs it, but I'd suggest moving to the aforementioned packages. Thanks 🙏

[2019-02-10 02:34] #174 closed

[2019-02-10 02:36] nicoespeon commented on #169
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this was implemented here. See [the relevant stories](https://github.com/nicoespeon/gitgraph.js/blob/master/packages/gitgraph-react/src/stories/3-events.stories.tsx).

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` pack

[2019-02-10 02:36] #169 closed

[2019-02-10 02:39] nicoespeon commented on #50
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here. Graph container automatically adapts its dimension to fit what is rendered. You can put it into some scrollable box, if you wish to.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soo

[2019-02-10 02:39] #50 closed

[2019-02-10 02:42] nicoespeon commented on #181
This is now doable with `@gitgraph/react` that was released. We even have a story for that:

![image](https://user-images.githubusercontent.com/1094774/52528740-6febc000-2cb3-11e9-93f4-a42810a194f5.png)

[code]

[2019-02-10 02:42] #181 closed

[2019-02-10 02:54] nicoespeon commented on #38
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this was implemented here. There is an `import()` function, which expects the JSON format generated by [git2json](https://github.com/fabien0102/git2json).

We even have stories to document usage:

![image](https://user-images.githubusercontent.com/1094774/52528797-e3da9800-2cb4-1

[2019-02-10 02:54] #38 closed

[2019-02-10 02:58] nicoespeon commented on #117
We released `@gitgraph/react` which is a React rendering library for GitGraph.js.

It exposes an `import()` method that allows you to generate a graph from a JSON output. See https://github.com/nicoespeon/gitgraph.js/issues/38#issuecomment-462098910 for details.

The JSON output can be generated from an existing repository with [git2json](https://github.com/fabien0102/git2json). For the moment, we

[2019-02-10 02:58] #117 closed

[2019-02-10 03:04] nicoespeon commented on #177
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here.

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgraph/js` package soon to replace it.

We still accept PRs if someone really needs it, but I'd suggest moving to the aforementioned packages. Thanks 🙏

[2019-02-10 03:04] #177 closed

[2019-02-10 03:06] nicoespeon commented on #36
Insights from #213:

[2019-02-10 03:07] nicoespeon commented on #213
Closing this in favor of #36. Ported the suggestion there. Thanks =)

[2019-02-10 03:07] #213 closed

[2019-02-10 03:09] nicoespeon commented on #208
@dolanmiu I'm closing this issue as the discussion might hold all along the development of gitgraph-angular.

I suggest we move that discussion into another, more dynamic channel. Fabien & I are mostly discussing on Discord. If you're interested in participating, I could create a server. Just let me know if you're in 👍

[2019-02-10 03:09] #208 closed

[2019-02-10 03:31] nicoespeon commented on #138
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here. You can customize how commit message is rendered, thus insert whatever you want:

![image](https://user-images.githubusercontent.com/1094774/52529123-5b5ef600-2cba-11e9-8053-d86c47cb045c.png)

[code]

Thus, I'm closing this issue as we won't maintain th

[2019-02-10 03:31] #138 closed

[2019-02-10 03:35] nicoespeon commented on #167
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this issue was fixed here. We even have a story for that:

![image](https://user-images.githubusercontent.com/1094774/52529147-e213d300-2cba-11e9-8a5e-316eb469767b.png)

[code]

Thus, I'm closing this issue as we won't maintain the `gitgraph.js` package. There will be a `@gitgrap

[2019-02-10 03:35] #167 closed

[2019-02-10 03:39] nicoespeon commented on #143
So, this is technically _not_ resolved for the `gitgraph.js` package… But we released `@gitgraph/react` in v1.0.0-0 and this was kinda implemented here:

![image](https://user-images.githubusercontent.com/1094774/52529173-58b0d080-2cbb-11e9-9d01-6abc120b62eb.png)

[code]

Now, tags are currently rendered as part of the commit message, just like branch. But we'll probably change that in further rel

[2019-02-10 03:39] #143 closed

[2019-02-10 03:41] nicoespeon commented on #40
Not sure this has been solved with the release of `@gitgraph/react`. We'd need to try complex scenarios and see how rendering is made.

The good news is that we can now easily write tests on the rendering part, meaning we can tweak and optimize rendering to generate less "complex" illustrations.

[2019-02-10 04:08] nicoespeon commented on #187
Hey everyone 👋

Great news: we released premajor versions of the new packages! You can start using `@gitgraph/react` v1.0.0-0. We'll create a `@gitgraph/js` to compensate for `gitgraph.js` package, which will no longer be actively maintained from us.

The PR was merged into `master`, so it's now part of the main branch.

I created a project board to track all remaining work until everything is sta

[2019-02-10 04:12] nicoespeon commented on #36
We could use Styleguidist for React documentation.

[2019-02-10 04:19] nicoespeon opened #219 "Build @gitgraph/js"
Create a vanilla JS rendering lib. That will be a replacement for `gitgraph.js` package, so we don't force people to move to React.

It should render the same graph than `@gitgraph/react`.

TODOs:
- [x] Set up package
- [x] Create example scenario to test rendering *a la* Storybook
- Implement rendering
  - [x] SVG container
  - [x] Branches paths
  - [x] Commits messages
  - [x] Commits dots
  -

[2019-02-10 04:19] nicoespeon opened #220 "Render tags out of commit messages"

[2019-02-10 04:20] nicoespeon opened #221 "Render branch labels out of commit message"
- [x] Render branch labels as tags
- [x] Fix fast-forward merge scenario
![image](https://user-images.githubusercontent.com/1094774/53780754-c673a500-3ed3-11e9-8a5f-af3c48eaab5d.png)

- [x] Render branch labels in horizontal mode
- [x] Re-introduce branch label style options (stroke color, bg color, font) (template, graph & branch level)
- [ ] Replace commit `displayBranch` with a `showLabel` equi

[2019-02-10 04:25] nicoespeon opened #222 "Handle multiple merges"

[2019-02-10 04:26] nicoespeon opened #223 "Handle scrollbacks (up & down) for buffer logger"

[2019-02-10 04:26] nicoespeon opened #224 "Add contract tests for logger implems"

[2019-02-10 04:27] nicoespeon opened #225 "Provide a template adapted to CLI"
Provide a "without template" logger, that won't use gitgraph template colors but an opinionated, CLI-optimized one (specific to the rendering lib)

[2019-02-10 04:37] nicoespeon opened #226 "Fix blackarrow arrow orientation"
See branch `fix/blackarrow-arrow-orientation`. I updated **blackArrow** story to illustrate the problem.

![image](https://user-images.githubusercontent.com/1094774/52529654-bba66580-2cc3-11e9-8d9b-8cc2bc1f2ec5.png)

[2019-02-12 05:56] dimaqq opened #227 "Slow for large graphs"
I'm trying to get gitgraph-react to plot a large data set, extract from some repo with git2json:
* 7K commits
* M3 total lines of pretty JSON

The browser page seems to hang... for a very long time.

- OS: macOS
- Browser: Chrome stable
- gitgraph-core@2.0.0-alpha.73bd2e56
- gitgraph-react@2.0.0-alpha.73bd2e56

[2019-02-12 06:09] dimaqq opened #228 "undefined branch -- import fails on git2json blob"
[code]

Data: https://gist.github.com/dimaqq/a9122f28e9807527508056ee32d719cd

[2019-02-12 19:54] Norfeldt commented on #181
Awesome! And that it is react is double awesome!

[2019-02-14 13:52] nicoespeon commented on #227
Hi @dimaqq 👋

Indeed, I'm not surprised this is happening. `import()` is still quite experimental, and we didn't test it for performance yet.

I think I'll update the code so it fallback gracefully and explain the user about that, instead of just hanging…

I'll keep your issue open until we improve perfs of `import()` 👍

[2019-02-14 13:53] nicoespeon commented on #228
Thanks for the data snippet, that will be really helpful for us to debug what is happening here 👍

[2019-02-18 09:30] FeynmanDNA commented on #187
hi, thanks for the awesome work on this library!

I tried to use the `packages/gitgraph-react` in my react app by installing the npm package `"gitgraph-react": "^2.0.0-alpha.73bd2e56",`. However, I have encountered some issues when using the code snippet from above for gitgraph-react:
![image](https://user-images.githubusercontent.com/26617036/52940135-c5555a80-33a0-11e9-913f-f913bf183cba.png)

I

[2019-02-18 09:36] FeynmanDNA opened #229 "gitgraph-react sample code does not work"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/26617036/52941137-17977b00-33a3-11e9-9153-45d2d318d918.png)

The `const { Gitgraph } = require("@gitgraph/react");` line causes the react to fail to compile with the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Go to https://github.com/n

[2019-02-18 12:30] gabor-udvari commented on #229
The version `2.0.0-alpha.73bd2e56` does not seem to be [scoped](https://docs.npmjs.com/misc/scope), so you have to require/import it as `gitgraph-react` instead of `@gitgraph/react`.

[2019-02-18 23:11] nicoespeon commented on #187
Hi @FeynmanDNA and thanks for trying out 👋

Indeed, that's a good catch! The snippets in the issue description are incorrect. There were mostly brainstorm stuff, so we didn't tried them out. I'll update them 👌

You can have a look at the [gitgraph-react README instead](https://github.com/nicoespeon/gitgraph.js/tree/master/packages/gitgraph-react), it has a better snippet (which should work!) + [fe

[2019-02-19 07:26] FeynmanDNA commented on #187
@nicoespeon hi thanks for your kind words! :+1:

The gitgraph-react section of the repo also does not work for me. I git cloned this repo and `cd` to `gitgraph.js/packages/gitgraph-react`. But when i try to install the packages inside that directory, i got the following console error from `yarn install`:

[code]

I am not familiar with type-script, and maybe this is something to do with type-scrip

[2019-02-19 07:37] FeynmanDNA commented on #229
@gabor-udvari thanks for your reply and help!

I actually tried to import with `gitgraph-react`, but when i do that react-webpack wont even compile:
![image](https://user-images.githubusercontent.com/26617036/52997676-2db54200-345c-11e9-853b-1e61097a624d.png)

[code]

[2019-02-20 02:39] nicoespeon commented on #187
Oh, I think this might be a lerna thing.

Can you try this:
- Pull last changes from `master`
- At the root of the repo, run `yarn lerna bootstrap` (it will link cross-dependencies between local packages, see [their doc](https://github.com/lerna/lerna/tree/master/commands/bootstrap#readme))
- Try `yarn install` again from the react package

I think it should solve your issue. Let me know, I'll enr

[2019-02-23 15:00] Norfeldt commented on #181
I finally found the time to play around with it and got the storybook working.

The `renderMessage` seems to be broken

[code]

![screen shot 2019-02-23 at 15 58 08](https://user-images.githubusercontent.com/678806/53288026-fe684300-3783-11e9-9c56-5caa4671df3e.png)

[2019-02-27 03:37] FeynmanDNA commented on #187
@nicoespeon yes now it works. Thanks for your advice and fix!

[2019-03-05 04:13] #226 closed

[2019-03-05 13:47] nicoespeon commented on #229
Hi @FeynmanDNA 👋

I actually missed this issue. Thanks to your feedback, I realized installation instructions were outdated: this is `@gitgraph/react` that should be installed, not `gitgraph-react`. I fixed them.

I also noticed that [`gitgraph-react`](https://www.npmjs.com/package/gitgraph-react) does exist as we did try a canary release 4 months ago. @fabien0102 do you know if we can remove it f

[2019-03-05 19:35] fabien0102 commented on #229
Maybe not easily but you should be able to do something 😉

[2019-03-06 03:01] FeynmanDNA commented on #229
@nicoespeon i ended up still using `"gitgraph.js": "^1.15.1"` in my react project, following the discussion from this thread:
https://github.com/nicoespeon/gitgraph.js/issues/195

:)

[2019-03-06 03:16] nicoespeon commented on #229
Good to know. I'm closing the issue since the gitgraph-react sample code was fixed. Everything should work now.

[2019-03-06 03:16] #229 closed

[2019-03-07 01:35] #160 closed

[2019-03-07 01:35] #221 closed

[2019-03-07 01:35] #142 closed

[2019-03-07 04:07] nicoespeon commented on #228
Hey @dimaqq 👋

I gave it a look and I can't reproduce the issue with the latest version on master.

With the following code:

[code]

I got the following result:

![image](https://user-images.githubusercontent.com/1094774/53931727-6102ee00-4064-11e9-902b-e7129a630a58.png)

Could you try again with the latest version of `@gitgraph/react` see how it goes?
Thanks 🙏

Meanwhile, I'm closing the issue s

[2019-03-07 04:07] #228 closed

[2019-03-09 05:24] #220 closed

[2019-03-09 05:26] nicoespeon opened #237 "Display tags in horizontal mode"
Tags are currently not rendered in horizontal mode. It could be a nice info to have though.

![image](https://user-images.githubusercontent.com/1094774/54731778-93cddb80-4b66-11e9-8a6a-ceca95ddf9ea.png)

But I'm not quite sure what it should look like. Horizontal mode is challenging.

I'm open to suggestions on this one 👐

[2019-03-19 03:41] nicoespeon commented on #181
@Norfeldt indeed, the custom message stop showing up, but we fixed that with https://github.com/nicoespeon/gitgraph.js/pull/233.

It has been shipped in the last release (@gitgraph/react@1.1.0-0).

[2019-03-20 20:31] JulienLamy76 opened #238 "How to render the graph automatically?"
Hi,

I would like to render automatically the graph in javascript (best graph I've seen so far and I need it for javascript).
I would like to know if there are good news for the rendering like the "import" way on react but this time, in javascript.

For the moment, I can generate commit array from two libraries that I'm using
(which are https://isomorphic-git.org/ and https://github.com/types/simp

[2019-03-21 03:16] #151 closed

[2019-03-21 03:24] nicoespeon commented on #237
I'm thinking about that kind of rendering (as suggested in #173):

![image](https://user-images.githubusercontent.com/1094774/54731891-2ec6b580-4b67-11e9-9dc2-ad734f271f10.png)

![image](https://user-images.githubusercontent.com/1094774/54731893-31290f80-4b67-11e9-8d6b-ce286b06e1d0.png)

But that might imply to change how branch labels are rendered.

[2019-03-21 03:25] nicoespeon commented on #173
Tags are no more rendered in horizontal mode. We need to find a better way to display them here, and I'm taking your suggestions as inputs, they look great 👌

Closing this issue in favor of #237 then.

[2019-03-21 03:25] #173 closed

[2019-03-22 16:28] canhbd opened #240 "Sample code"
Hello and thanks for great this lib.

Please share me this source code,

![image](https://user-images.githubusercontent.com/45847757/54837121-35386700-4cf8-11e9-9e40-70cfa0ac54d6.png)
https://github.com/nicoespeon/gitgraph.js/pull/216
Thanks you!

[2019-03-23 18:33] nicoespeon commented on #240
Hi @canhbd 👋

It's a variant of the following example of [`gitgraph.js` (v1)](https://www.npmjs.com/package/gitgraph.js): http://gitgraphjs.com/examples/gitflowsupport.html

It's the same code, but without forcing the colors of the branches and commit dots. Thus, you can use the following template config:

[code]

I'm closing the issue, but let me know if you have any issue in making this work!

[2019-03-23 18:33] #240 closed

[2019-03-23 18:40] nicoespeon commented on #238
Hi @JulienLamy76 👋

The `import` feature is still a bit experimental, so I'm not 100% sure it will generate your graph without issue—especially if it's a big one. But I'd be really happy to get your feedbacks so we can improve it until it works. Or maybe it will just work fine for you and you'll be good to go!

Anyway, you'll indeed need to generate a JSON output using [@fabien0102's git2json](htt

[2019-03-26 12:37] haizz opened #243 "Enforce branch column order and colors"
First of all, thank you for the great project!

Currently the order of branch columns is determined by which branch comes first in commit list:

[code]

My app has an UI which hides/shows branches based on user requests by filtering commits which get imported to gitgraph, and arbitrarily changing branch order and colors become confusing for users. I'd like to have master branch always having colum

[2019-03-26 12:40] haizz commented on #243
BTW, I'm using `import` function from `GitgraphUserApi`.

[2019-03-26 12:49] fabien0102 commented on #243
You can specify the color in "manual" mode with `gitgraph.branch({name: "mybranch", style: {color: "pink"}})` -> https://codesandbox.io/embed/ym2jrq408j (and the dot color is not following ^^ time to open a new issue 😅 )

For the `import`, you don't have (yet) any option to customize this, but it's really interesting problem ^^
I guess we can add a `branchToColor` options somewhere for this kind o

[2019-03-26 12:53] fabien0102 opened #244 "Custom branch color is not propagated"
**Describe the bug**
When specify a custom color for a branch, the dot color is not following properly.

**To Reproduce**
https://codesandbox.io/embed/ym2jrq408j

**Expected behavior**
My dot should be pink

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1761469/54998398-533ee980-4fce-11e9-92cc-52c2ec52d964.png)

[2019-03-26 12:55] haizz commented on #243
Will that enforce the column order? What if I would like to keep recent branches closer to the master? Currently it's strictly earlier commits who receive lower column index.

[2019-03-26 12:58] fabien0102 commented on #243
mmmm, you're right, maybe a `sortBranch` 🤔 with the same API as the native `Array.sort`

[2019-03-26 13:00] haizz commented on #243
I can make a PR if you define an API and throw me some basic guidelines on where/how to implement this.

[2019-03-26 13:02] haizz commented on #243
Maybe just pass an array of branch names with desired order?

[2019-03-26 13:07] fabien0102 commented on #243
Sure but in the case of the `import` how do you know what branch name you have? same in the classic mode, the config is the first thing you give, so seams a bit fragile to give an array of branch names.

[2019-03-26 13:13] fabien0102 commented on #243
I don't exactly remember how where is defined the branch order, I need to dig a bit in the code 😅

As guideline, all the project is tested (unit tests with jest for the `core`, visual tested with storybook for `react` and `js`), so depending where is the problem, we always begin to add a test or a story to demonstrate the bug, and after fix it! (TDD style ^^)

For this kind of feature, everything

[2019-03-26 17:09] haizz commented on #243
[code]

or

[code]

?

[2019-03-27 03:28] nicoespeon commented on #243
Branch color depends on "branches paths" ordering. Branches paths are computed from commit positions. And commits position depends on the computed "column":

https://github.com/nicoespeon/gitgraph.js/blob/aa07aa76fce60214aa4ecdfd3468950d470ca058/packages/gitgraph-core/src/gitgraph.ts#L194-L199

This is what you're looking for.

In short: the column of the commit determines the order of the rendere

[2019-03-27 13:09] ohjimijimijimi opened #245 "Move react as a peer dependency"
**Describe the bug**
React should not be included as a dependency

**To Reproduce**
Check this sandbox: https://codesandbox.io/embed/183o7kx59q

**Expected behavior**
Users should be able to add React and not be forced to use the one in the package.

**Screenshots**
![image](https://user-images.githubusercontent.com/766504/55078128-b5185580-5099-11e9-9714-d0694d6c773d.png)

**Additional context**

[2019-03-28 00:56] nicoespeon commented on #245
Oh, good catch 👍

Indeed, we'll clean that up.

[2019-03-28 01:32] nicoespeon commented on #243
I just pushed a change, so it's not anymore `GraphColumns` but `BranchesOrder`. I hope it expresses the intention better.

[2019-03-28 04:58] briangordon commented on #187
@nicoespeon I'm still getting that issue when trying to `yarn install` the react package. I'm not a frontend developer and I've never used yarn before. I know enough javascript to be able to follow the tutorial on gitgraphjs.com by creating a little HTML file-

[code]

[2019-03-28 05:28] briangordon commented on #187
Hey, I actually figured it out on my own! You have to `yarn install` in gitgraph-core first. This is what I did in total.

Setup:

[code]

Then:

[code]

Whew! Please consider documenting this so that other people don't have to struggle with it too 😄

[2019-03-28 10:48] haizz commented on #243
@nicoespeon @fabien0102 thank you for your help! I've made a PR.

[2019-03-29 00:51] #243 closed

[2019-03-29 01:08] nicoespeon commented on #243
Thanks for your contribution @haizz 👋

As mentioned in the PR: I simply refactor the name to be more explicit. I went for the semantics of `Array.prototype.sort()`, thus I called it `CompareBranchesOrder` instead of `BranchesOrderFunction`.

I published **v1.1.0-2** of @gitgraph/react & @gitgraph/core that contains the change. Let's know if you find some issues with different ordering of branches.

[2019-03-29 01:37] nicoespeon commented on #187
Hi @briangordon 👋

Sorry to learn you had to run into so many troubles! I've a couple information that you might find useful indeed:

1. I'm currently working on a `@gitgraph/js` package. It will allow you to just add the JS script in your webpage and use it, like you did with `gitgraph.js`. It will contain all features of the react package does, but in vanilla JS.

2. Usually, you only need to in

[2019-03-29 05:16] briangordon commented on #187
Ah, that is a lot easier. I guess I was stumbling through a lot of stuff from not being familiar with the tool stack. Thanks for your response. Hopefully any other bumbling backend engineers will see this 😅

[2019-03-29 10:42] alvassin opened #248 "Checkout on a commit"
I can checkout on a branch, but is it possible to checkout on some previous commit?

[2019-03-29 10:46] alvassin opened #249 "Is it possible to set offset for first element, if it is on the bottom?"
![problem](https://user-images.githubusercontent.com/1497444/55231098-b0d37000-5232-11e9-859f-8027ebea1e58.png)

As you can see root element is half-cropped. How can i add some offset for it from the bottom?

P.S. here is my template:
[code]

[2019-03-29 11:43] nicoespeon commented on #187
It will be simpler and documented. I will do once I'm done creating the `@gitgraph/js` package so people can use just like they used to run `gitgraph.js` package.

[2019-03-29 22:56] kennyeni opened #251 "Merge and commit renders incorrectly on vertical-reverse"
**Describe the bug**
When a merge is done from branch A to branch B, and then a commit is done on branch A the rendering is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
a.commit();
b.merge(a)
a.commit();

**Expected behavior**
Vertical-reverse rendering should work as vertical rendering

**Screenshots**
Vertical rendering (correct):
![image](https://user-images.githubusercontent.c

[2019-03-30 14:08] JulienLamy76 commented on #238
Hi,

I take advantage of having an issue to ask an additional question.
For now, I'm using the canvas with gitgraph.js.

I would like as already said to have a graph similar to the command `git log --all --graph --date-order --oneline`
For now, I know how to create branches and commits from them.
However, how can I tell that a commit can have multiple branches, for example:
develop, origin / devel

[2019-03-31 15:04] nicoespeon commented on #249
Hi @alvassin 👋

This seems to be the `gitgraph.js` package, right? If so, I think the simplest solution would be to add some padding to the `canvas#gitGraph` element using CSS. Can you try that and let me know if it works?

Now, there will soon be a `@gitgraph/js` package (see #219) to replace `gitgraph.js`. A bunch of fixes (including properly calculating the dimensions of the graph) will be bake

[2019-03-31 15:07] nicoespeon commented on #248
Unfortunately, not at the moment. You can only checkout a branch.

This might be something interesting though. Could you share more details about what you'd like to achieve? Do you have a use-case in mind that would require you to checkout a specific commit instead of a branch?

[2019-03-31 15:34] nicoespeon commented on #245
Hello @ohjimijimijimi 👋

Thanks again for reporting. This have been fixed and published under `@gitgraph/react@1.1.0-3`.
You can see it working: https://codesandbox.io/embed/q95y6ypjrw

[2019-03-31 15:34] #245 closed

[2019-04-01 10:04] haizz commented on #243
@nicoespeon Thank you so much! Working great so far.

[2019-04-01 11:57] nicoespeon commented on #251
Thanks for reporting @kennyeni 👋

We'll have a look and fix this =)

[2019-04-03 07:00] alvassin commented on #249
Thank you for response!  Yes, I am using gitgraph.js package.

I found `initCommitOffsetY` and `initCommitOffsetX`options, but they did not work for me, because i specified them in GitGraph.Template instead of passing them directly to the GitGraph constructor.

So, when i specified them like in example below, it worked like a charm.

[code]

[2019-04-03 07:00] #249 closed

[2019-04-03 07:30] alvassin commented on #248
I am implementing simple git-like versioning system over postgres. I has commits and branches inside, as user you are able to derive from any commit tied to any branch.

First idea was to get response from API in format like git2json and use your `import` function from react package.
But I can deal only Vuejs, not familiar with React and it was too hard to adopt your react package for Vuejs for me

[2019-04-04 18:21] #251 closed

[2019-04-04 18:40] nicoespeon commented on #251
@kennyeni thanks for reporting! This has been fixed and published under `@gitgrap/react` v1.1.0-4 👍

[2019-04-07 01:30] #219 closed

[2019-04-07 03:13] nicoespeon commented on #202
`@gitgraph/js` is now 9kB gzipped. It's almost what `gitgraph.js` was, and below my initial target of 20kB  🎉

Considering this as solved.

[2019-04-07 03:13] #202 closed

[2019-04-07 21:36] briangordon opened #258 "Multiple branches at the same commit"
It's often useful to have multiple branches pointing to the same commit. This doesn't seem to be supported with the `@gitgraph/react` API.

For example, you might have a simple diagram like:

[code]

This works fine. However, if you want a diagram with multiple branches on the same commit, like this:

<img width="440" alt="screenshot" src="https://user-images.githubusercontent.com/1331024/55690119

[2019-04-07 23:40] briangordon opened #259 "One commit can't serve as a parent to multiple merge commits (> 2)"
This example is very close to what I would like to diagram-

[code]

<img width="243" alt="screenshot-1" src="https://user-images.githubusercontent.com/1331024/55691403-bcb9e300-5952-11e9-84de-9bef68bb5366.png">

However, with a little bit of mspaint-

<img width="243" alt="screenshot-1" src="https://user-images.githubusercontent.com/1331024/55691454-19b59900-5953-11e9-8271-537478f8b55e.png">

Thi

[2019-04-08 14:38] JackWilliam277 opened #260 "Render graph asynchronously"
Hi,

I'm sorry if it's a useless question.
But I'm asking how to render the graph asynchronously?

I'm using gitgraph.js and when I'm rendering a big repository graph it's freezing during few seconds and I can't interact with my app.

If someone has the soluce, thanks a lot!

[2019-04-10 03:23] briangordon opened #261 "develop.merge(feature) should always merge feature into develop"
It seems that sometimes `develop.merge(feature)` can actually cause develop to be merged into feature rather than the other way around. This is counter to the way that it usually works. This seems similar to #175, and I'm confused because it looks like gitgraph used to be *intended* to work the other way around, based on the codepen. However, either way it's supposed to work, gitgraph doesn't corr

[2019-04-10 12:25] Andrey-Pavlov opened #262 "Custom renderers for branch labels & tags"
**Is your feature request related to a problem? Please describe.**
Can't style or format labels as I want

**Describe the solution you'd like**
I want to use custom markup for labels (HTMLFormatter?)

**Describe alternatives you've considered**
Allow to use rendering process hooks

**Additional context**
This was my custom method to render labels in V1:

[code]

[2019-04-11 08:38] IsaacHub opened #263 "Add event handlers on whole commit line (vertical mode)"
I want to build exactly as in this image, how can I achieve this?

![Screenshot from 2019-04-10 18-42-52](https://user-images.githubusercontent.com/20126441/55942201-85547a80-5c61-11e9-851c-7f86a57672b9.png)

Each and every row must hold an id and those must be clickable, and upon clicking it I need to console log the id of the row which was clicked.

Right now I have this:

![gitgraph](https://us

[2019-04-11 11:18] nicoespeon commented on #258
That's a very good point @briangordon, thanks for raising this.

I marked this as a feature to be develop. We should be able to create multiple branches for the same commit 👍

[2019-04-11 11:22] nicoespeon commented on #238
Hi again @JulienLamy76 👋

It's a very good question and I actually realized it's not possible today. Someone else open an issue to do exactly that, so we'll implement it: #258

Also, regarding your first question, `@gitgraph/js` is available so you can give it a look and try Gitgraph without having to use the React version.

Let me know if that solves your questions ;-)

[2019-04-11 11:30] nicoespeon commented on #259
Hey @briangordon 👋

What package/version of gitgraph are you using currently?

I added a story to illustrate the behavior, and it seems to work as expected with the last version of `@gitgraph/react` and `@gitgraph/js`:

![image](https://user-images.githubusercontent.com/1094774/55954004-8965a580-5c2b-11e9-93f2-59f8c9c5198e.png)

[code]

[2019-04-11 11:39] nicoespeon commented on #260
Hi @JackWilliam277 👋

Rendering libraries don't render graph asynchronously for now. I think you would need to build up something yourself, putting the expensive calculation in a web worker so it doesn't impact the main thread. That might be a good lead.

However, you shouldn't have to do it. The problem is that `import()` is still a bit experimental, and we didn't work on it's performance yet.

B

[2019-04-11 11:39] #260 closed

[2019-04-11 14:23] SumNeuron opened #266 "Plus add documentation for npm @gitgraph/js migration guide (link broken)"
Please add documentation. The gitgraph.js website and the docs on @gitgraph/js do not overlap

[2019-04-11 14:27] SumNeuron opened #267 "Multi-head graphs"
I like your library as a concept as it is basically tree / hierarchical graph drawing. The js libraries that support this well are few and far between! (your's looks nice though)

Would be nice for multi-headed graphs (not necessarily a git graph...)

You might be thinking we specialize on git related graphs. This is not git related.

Then please think of this feature request as letting the user s

[2019-04-11 18:25] nicoespeon commented on #266
Thanks @SumNeuron for spotting the broken link!
Indeed, it was relative so it wouldn't work on npm 🤦‍♂️

I fixed that on `master`. I'll publish a new release this evening with this fix, so it gets fixed on npm.

As for the website not being up-to-date, this is in progress indeed. It should be fixed in the following days. See #36 👍

I'm closing the issue as it will be solved with #36.

[2019-04-11 18:25] #266 closed

[2019-04-11 23:33] briangordon commented on #259
Aha, indeed this has been fixed in the couple of weeks since I forked the repository. Sorry about that!

I also just realized that I've been using the reverse orientation in all of my bug reports inadvertently, since that's what I've been using for my work. Sorry about that too; I guess it's probably unnecessarily confusing. 😅

[2019-04-12 00:32] nicoespeon commented on #248
I see.

So, when you build the graph manually, you don't really need that feature as you can control when you create the branch.

Now, when you're importing a JSON, it's different as you'd need to perform the commands in the correct order to generate the same graph. The way we currently handle this in the core library is by having the same data structure than the imported format (git2json). So we'

[2019-04-12 00:53] nicoespeon commented on #261
Yes. Actually, the first version of Gitgraph (which is the package `gitgraph.js`) used to do it the other way around. `develop.merge(feature)` would merge `develop` into `feature`.

We found that it was confusing. With git, we would checkout to `develop` to merge `feature` into it, so `develop.merge(feature)` should express merging `feature` into `develop` (the branch we're in).

We explained this

[2019-04-12 00:53] #261 closed

[2019-04-12 00:58] nicoespeon commented on #262
By "label" I assume you're referring to both branch labels & tags.

Indeed, these can be styled a bit, but you can't provide a custom renderer as you could have done in v1.

I think we can create 2 custom methods to render branch label & tags. We do the same with tooltips, commit messages and commit dots actually: https://github.com/nicoespeon/gitgraph.js/blob/cda0b6db3892ea6588681b7ad0868f886390a

[2019-04-12 01:13] nicoespeon commented on #263
Hi @IsaacHub 👋

Interesting use case, thanks for providing the detailed screenshot.

First of all, I think you're still using the `gitgraph.js` package. This one has been deprecated and I'd suggest you to move to `@gitgraph/js` (or `@gitgraph/react`), if possible. There are breaking changes though, here's a guide that could help: https://github.com/nicoespeon/gitgraph.js/blob/master/packages/gitgr

[2019-04-12 01:27] nicoespeon commented on #267
Hi @SumNeuron and thanks for the kind words!

If I correctly understand, this sounds like a partial rendering of the graph, with the possibility to navigate in history, still displaying a subset of the whole graph.

If that's what is proposed here, there's an discussion around that tracked in this issue: https://github.com/nicoespeon/gitgraph.js/issues/215

I suggest you give it a look and I encou

[2019-04-12 01:27] #267 closed

[2019-04-12 01:32] nicoespeon commented on #40
Hey everyone 👋
This is quite an old issue, but I've got some news since v2.

In `@gitgraph/js` and `@gitgraph/react`, you can now provide a `compareBranchesOrder()` function to sort branches in a more convenient order (default is historical order). There's a story illustrating usage: https://github.com/nicoespeon/gitgraph.js/blob/cda0b6db3892ea6588681b7ad0868f886390a18b/packages/stories/src/gitgra

[2019-04-12 01:32] #40 closed

[2019-04-12 03:04] nicoespeon commented on #227
Hey @dimaqq!

We've bring some perf improvements in the latest release. We are able to render 1,261 commits in ~2s.

Could you try again with the latest release and tell me if it's acceptable to solve the overall issue?
Note that you'd need to install `@gitgraph/react` package instead of `gitgraph-react`.

Thanks 👍

[2019-04-12 14:14] JackWilliam277 opened #270 "Create branch at specific commit"
Hi,

I'm using the latest version of @gitgraph/js.

For the moment, the `import()` is a bit experimental so I'm creating the graph manually with my objects.

The problem is that

[code]

But if I want to create a new branch from the commit with the hash '0004' after the last commit, I can't specify the parentCommit from which I need to create the branch.

With the actual version, I'm forced to cre

[2019-04-12 22:09] nicoespeon commented on #259
@briangordon Ah ah, don't worry, I figured out the orientation quickly 😉

I hope the latest version will help you to achieve what you want 👍

[2019-04-12 22:17] nicoespeon commented on #270
Hi @JackWilliam277 👋

That's an excellent question and there is actually an old issue to implement this feature: https://github.com/nicoespeon/gitgraph.js/issues/162

I liked your title though, it's more explicit. I'm closing this one to focus the discussion on one single issue, and I'll rename it after this one.

👍

[2019-04-12 22:17] #270 closed

[2019-04-14 10:06] JackWilliam277 opened #271 "Create branch from another one"
Hi,

I'm now using @gitgraph/js (v2 instead of the v1).
The problem is that even with the migration help page between v1 and v2 (https://github.com/nicoespeon/gitgraph.js/blob/master/packages/gitgraph-js/MIGRATE_FROM_GITGRAPH.JS.md)
I don't know since the v2 how to create a branch from another one.

There is a way to do it? Thanks!

[2019-04-14 12:18] nicoespeon commented on #271
Hi @JackWilliam277 !

Currently, the only way to create branch is with `gitgraph.branch()`. That means you can only create a branch at a specific moment in time, and it will take current HEAD as the parent commit of the branch.

This is very related to the fact you can't create a branch at a specific commit: https://github.com/nicoespeon/gitgraph.js/issues/162

I'll keep this issue open as a featu

[2019-04-15 01:20] nicoespeon opened #274 "Generate and publish API documentation"
The website have been revamped with #272.

We now have generic presentation of the library as well as use-case examples with Storybook.

Though, as an end-user, I'd like to have an official reference of the library API so I know everything that is possible. An end-user using TypeScript (or even JS IntelliSense) would have auto-completion. But I'd still like to generate the documentation from these

[2019-04-15 02:14] #36 closed

[2019-04-15 10:13] Andrey-Pavlov opened #275 "Render the website as a single-page by default"
Hi,

Don't know where to share my feedback so I leave it here.
I don't like the new website design and think the older version is much cleaner and more readable.
Previously, you got all information in one place. With a simple scrollable page it much easier to see and understand connected parts in opposite to wizard layout with pagination.

Thank you.

[2019-04-15 11:56] Andrey-Pavlov opened #276 "Gitgraph import JSON merges branches to the right"
**Describe the bug**
GitGraph Import JSON doesn't render dag correctly as any GIT visualizer. It merge branches to the right side.

**To Reproduce**
Get any complicated git repository, for example, "gitgraph.js". Generate JSON with GitToJson npm module.
[code]

**Expected behavior**
"Master" branch must stay on the left / not growing to the right.
Repo with screenshots: [ScreensRepo](https://githu

[2019-04-15 12:12] Andrey-Pavlov opened #277 "Gitgraph import JSON doesn't work with partial data"
**Describe the bug**
If you have commits filtered by date range you can't render Git graph. The same if you have missed parent nodes.

**To Reproduce**
Remove any commit with id from any parentIds array.

**Expected behavior**
Expect to have "open" starts and ends.

**Screenshots**
I expect:
![My1](https://github.com/Andrey-Pavlov/GitGraphJSProblems/blob/master/4.15.2019/PartialData.png?raw=true)

[2019-04-15 12:34] aldrinrayen opened #278 "Need Good documentation"
Need clear explanation to configure setting and start project running

[2019-04-15 14:14] nicoespeon commented on #275
Thanks for the feedback @Andrey-Pavlov 👍

Indeed, I wasn't quite sure of the end result from an end-user point of view. I added more context to explain why I went for this design: https://github.com/nicoespeon/gitgraph.js/pull/272

Although, I anticipated this option:

I'll keep the issue open as you probably are not the only one. I'll see if I could get it to render on a single page by default.

[2019-04-15 14:18] nicoespeon commented on #278
Hi @aldrinrayen 👋

Sure, something is certainly not clear enough. Are you coming from the website? Or referring to the README instructions? Both?

Also, are you using the React or the JS library?

Finally, could you tell me if there are specific questions you're struggling with? This is to help me understand what I should improve for the documentation.

Might also be related to the lack of API doc

[2019-04-16 02:36] #271 closed

[2019-04-16 03:00] nicoespeon commented on #187
I just released the stable versions of each public package. That officially closes this issue.

From now on, these will be regular releases to implement new features and fix bugs on the library 🎉

[2019-04-16 03:00] #187 closed

[2019-04-16 03:22] nicoespeon commented on #227
Closing this issue.

If anyone has perfs issues with large graph, don't hesitate to open a new one with details about your specific case so we can investigate and improve.

[2019-04-16 03:22] #227 closed

[2019-04-16 03:24] nicoespeon commented on #238
Closing the issue since the question has been answered. #258 will track discussion for mentioned feature.

[2019-04-16 03:24] #238 closed

[2019-04-16 03:42] nicoespeon commented on #275
I also think it would address #278 to change the way information is organized.

For the moment, it's:
1. Installation JS & React
1. Set-up JS & React
1. Basic usage
1. Resulting graph

I think it would be less confusing if it was organized by stack, from A to Z:
1. Installation & set-up JS
1. Example of basic usage JS with resulting graph
1. Installation & set-up React
1. Example of basic usage Re

[2019-04-16 03:46] nicoespeon commented on #224
@gitgraph/node is not a priority for the moment. Closing issues so we can focus on what matters.

[2019-04-16 03:46] #224 closed

[2019-04-16 03:47] nicoespeon commented on #225
@gitgraph/node is not a priority for the moment. Closing issues so we can focus on what matters.

[2019-04-16 03:47] #225 closed

[2019-04-16 03:47] nicoespeon commented on #223
@gitgraph/node is not a priority for the moment. Closing issues so we can focus on what matters.

[2019-04-16 03:47] #223 closed

[2019-04-16 03:48] nicoespeon commented on #222
@gitgraph/node is not a priority for the moment. Closing issues so we can focus on what matters.

[2019-04-16 03:48] #222 closed

[2019-04-16 16:38] briangordon opened #281 "`yarn develop` doesn't work as expected"
I tried out the new README and unfortunately it still doesn't seem to be quite as easy as it says.

[code]

This would just hang and nothing would happen. Same with just running `yarn run storybook` on its own.

However, if I go into `packages/gitgraph-core` and `packages/gitgraph-react` and `packages/gitgraph-js` and run `yarn` in each of them, then everything is built properly and I can go to `p

[2019-04-16 18:18] briangordon opened #282 "Orientation.VerticalReverse renders incorrectly"
In the reverse vertical orientation, the dark blue release branch lies over the develop branch in the following screenshot:

<img width="256" alt="screenshot" src="https://user-images.githubusercontent.com/1331024/56234071-55c6b900-6039-11e9-9a81-ffe92e28f409.png">

However, in the standard orientation, the dark blue release branch is correctly routed so that it doesn't overlap the develop branch:

[2019-04-16 18:35] briangordon commented on #259
@nicoespeon Actually, it seems like this issue might not be completely resolved. The case of two child merges does indeed work, but the case of _three_ child merges does not.

Here's the 2 case working fine:

<img width="145" alt="screenshot" src="https://user-images.githubusercontent.com/1331024/56235079-83acfd00-603b-11e9-89b8-da07d7ca5569.png">

[code]

And here's the 3 case looking slightly of

[2019-04-16 21:48] nicoespeon commented on #281
I ran into the same issue @briangordon. In fact, it does work: after some time, it finally opens the browser window.

The main problem here is that lerna swallows all the logs. So we have no feedback. This is even more problematic when there is a compilation error…

I think there are 2 ways of solving this:
1. Find a way to make lerna transmit the logs—although it might get messy since it's runnin

[2019-04-16 21:49] nicoespeon commented on #282
Thanks for the detailed feedback, we'll look into it 👍

[2019-04-16 21:50] nicoespeon commented on #259
Indeed, that's interesting. Thanks for adding more details, we'll look into this 👍

[2019-04-17 15:02] enlait opened #283 "Make it possible to use `@gitgraph/js` without NPM (CDN)"
v1 has plenty of examples on how to just include js and css from CDN and get hacking.

Can't find any info on this for v2 and wasn't able to get it working yet.

No I'm not using NPM.

[2019-04-17 15:09] enlait opened #284 "Missing documentation for gitgraphjs (v1)"
Documentation for v1 seems to be gone(?).

Could you please direct to a repo revision with api documentation?

[2019-04-18 01:29] nicoespeon commented on #284
Hi @enlait 👋

Good point, v1 is deprecated but still usable. I put back the doc & examples of v1 at https://gitgraphjs.com/v1

Let me know if you have any issue with it, but everything should have followed properly.

[2019-04-18 01:29] #284 closed

[2019-04-18 01:34] nicoespeon commented on #283
`@gitgraph/js` is not available on a CDN yet, indeed. This is something we should consider so people don't have to use NPM 👍

Until then, you can still use v1. I put the documentation back online at https://gitgraphjs.com/v1

[2019-04-18 09:34] maximAtanasov opened #285 "Change dot color when clicking on a commit dot/message."
Hello,

Is it possible to change the color of a commit dot when clicking on it? It seems that setting the color is only possible at creation time. I could clear the graph and then redraw it, but that would be quite sub-optimal performance-wise. I couldn't find anything like this in the examples (stories), but I think it could be great for interactivity.

[2019-04-18 17:20] #281 closed

[2019-04-18 17:21] nicoespeon commented on #281
@briangordon it should be better now on `master`. Turns out we just needed to stream lerna outputs to get the logs.

[2019-04-18 17:25] lauhub commented on #278
Hi,
I am a little bit stuck too.
I am trying to create a simple **local** HTML page containing `gitgraph`, but I don't know where to start.
I know JS basics. I know node.js. I don't know Typescript (and examples seem to be in TS)

So yes, there is a lack of documentation when you are starting... from zero. At least a minimum working example would be something to start from. Not just pieces of code

[2019-04-18 18:14] nicoespeon commented on #274
We could use https://www.gitbook.com/ for this, this would simplify the doc on the presentational website

The idea is to document Gitgraph usage exhaustively, like https://jestjs.io/docs/en/api

[2019-04-19 01:34] nicoespeon commented on #278
Got it, it makes sense indeed.
I'll address the issue of the library not being available easily outside of NPM with #283

Until then, I'd suggest to use the v1 which documentation is available at https://gitgraphjs.com/v1 — there is no clear link to this page as I want this issue to be temporary and will make good enough docs for anyone to start hacking with the lib without having to set up a node

[2019-04-19 01:37] nicoespeon commented on #283
Reference on how we get v1 on CDN.js => https://github.com/cdnjs/cdnjs/issues/7642

[2019-04-19 01:41] nicoespeon commented on #283
I think we need to publish the `bundle.umd.js` (generated in gitgraph-js' `lib/`) somewhere, so people can download it / inject it in their webpage and then start coding.

Ideally, we should also provide a minified version of it—I noticed it's not.

[2019-04-19 02:09] nicoespeon commented on #275
Also to consider:

- [ ] Add "see source code" links to examples
- [ ] Use a toggle component to switch between JS / React instructions (so previous instructions would be simpler to follow)

[2019-04-19 15:43] csmith-morningstar commented on #278
I was able to install NPM but I'm still unclear how to use gitgraph even with NPM. I did `npm init` and installed gitgraph/js and jsdom, but I don't know how to actually create a full NPM project that will actually run. Right now I have an index.html that looks like:
[code]
and index.js which looks like:
[code]
However when I run I get an error from bundle.umd.js:
[code]
It would be helpful if the

[2019-04-25 07:30] maximAtanasov commented on #285
I've solved my issue by calling the (private) `_onGraphUpdate()` method in `GitgraphUserApi` after changing the colors in the `onClick` callbacks (I'm using Angular). This is at least much faster than redrawing the entire graph.

[2019-04-25 14:40] haizz commented on #215
I wrote a custom React renderer to support partial rendering among other things I need to customize in my app. My renderer calls gitgraph-core API directly which allows me to filter data returned by `graph.getRenderedData()`:
[code]

[2019-04-25 15:01] haizz opened #288 "gitgraph-react: truly reactive rendering without children prop callback"
Current React renderer takes a callback as children prop which provides `GitgraphUserApi` object which is supposed to be used to build a graph.

But, in cases when the source of graph data comes as an external prop (for example, passed as GraphQL query result), it is very awkward to re-render the graph when source changes: callback/effect hooks and/or local state have to be involved, everything be

[2019-04-25 15:13] haizz commented on #288
I actually tried to implement re-rendering using React hooks, but ran into a problem with original Gitgraph React renderer not resetting its internal state, and since I decided to write my custom renderer anyway, I stopped looking into that and deleted all the code.

[2019-04-26 20:15] ghost opened #290 "Allow multiple branches in the same column"
Hi! First, thanks for the great git-drawing solution, it really rocks! Second, there is a problem.

I need to draw a repo with many short-lived feature branches. They created from and merged back to develop almost consequently and there are a lot of them. The idea is quite similar to [the compact mode example](https://gitgraphjs.com/stories/?path=/story/gitgraph-js-1-basic-usage--compact-mode) in

[2019-04-29 12:48] asmironov commented on #248
I'm building the graph manually and I need to illustrate the concept of support branches in the GitFlow model. These are branches created from specific commit. For example, we have a series of commits on master: one tagged `v1.0.0`, and other tagged `v1.1.0`, etc. Then we need to fix a bug in version 1.0.0. GitFlow says that we need to create a branch from the commit, tagged `v1.0.0`, and make our

[2019-05-02 17:22] #262 closed

[2019-05-03 14:26] parmentelat opened #291 "@gitgraph/node is broken"
**Describe the bug**
A clear and concise description of what the bug is.

Following the instructions of the readme for using the node version, I get a syntax error

**To Reproduce**
Steps to reproduce the behavior:

1.  on a macos,

[code]
2. install as per the readme

[code]

3. run node

    $ node index.js

4.  See error

[code]

**Expected behavior**

some textual representation of a git repo

[2019-05-03 22:04] nicoespeon commented on #291
Hi @parmentelat 👋

Thanks for reporting. To be honest, the `@gitgraph/node` package is still under development. As we focused on the other packages, I didn't touched it for months, so the build may be broken for the moment.

I'll have a look and fix the build if needed. But for the moment, I'd recommend not using this one—it misses a bunch of features, so it won't render graphs properly yet.

[2019-05-03 23:07] nicoespeon commented on #291
Yeah, I just tested: `@gitgraph/node` is broken. It didn't follow the redesign we did on the core library.

[2019-05-04 13:54] parmentelat commented on #291
all right, thanks for letting me know, I'll pass then :)

[2019-05-05 16:13] parmentelat commented on #283
+1; having the ability to start playing around with v2 right away from a cdn would be much appreciated

thanks for the cool tool :)

[2019-05-06 09:12] parmentelat commented on #283
@nicoespeon: following up on this mention:

where can I find the doc that explains how to build this `bundle.umd.js` file from a cloned git repo ?
first off I need to stress that I am no javascript guru:) so, I've kinda tried to guess, with `npm run build` but that pulled further requirements wrt lerna, and yarn, that I tried to `npm install as well`, but it's now failing with

[code]

so I guess

[2019-05-06 11:47] parmentelat commented on #283
I've given this one last push;
I've also tried one recipe that I've found here:
https://github.com/nicoespeon/gitgraph.js/tree/master/packages/gitgraph-js

and that was about using
npm i --save @gitgraph/js

but the instructions in the 'Get started' sections don't seem to work for me:

* I did create the simple html file, embedded the sample javascript code
* tried to open that page in chrome
* ja

[2019-05-07 02:47] nicoespeon commented on #283
@enlait @parmentelat I just released a version of `@gitgraph/js` with a browser bundle.

Can you please try the instructions I described in the README: https://github.com/nicoespeon/gitgraph.js/tree/master/packages/gitgraph-js#example-with-browser-bundle

Let me know if that works for you.

If so, the next steps are:
- [ ] Update the website with instructions
- [ ] Put the release on CDN.js

[2019-05-07 02:49] nicoespeon commented on #278
@aldrinrayen @lauhub @csmith-morningstar I just released a version of `@gitgraph/js` with a browser bundle.

I put the usage instructions in the README: https://github.com/nicoespeon/gitgraph.js/tree/master/packages/gitgraph-js#example-with-browser-bundle

Can you try and let me know if that's clear enough? If so, I'll update the website to explain how to use the lib without npm.

[2019-05-07 07:42] enlait commented on #283
Tried it with nginx instead of npx (gitgraph.umd.min.js and html in current directory):
`docker pull nginx && docker run -v $(pwd):/usr/share/nginx/html -p 8080:80 nginx`

Seems to work just fine.

[2019-05-07 07:45] parmentelat commented on #283
Hi @nicoespeon

thanks for taking the time to put this together
now at least I am able to write a simple standalone page that works

I'm still struggling to get this to work from within a Jupyter environment; the way I had been able to do that with gitgraphv1 is not working with this bundle, I'll probably need a bit more time to figure out what's going on here.

I'll try to report on this page whe

[2019-05-07 08:13] zapp42 commented on #283
Hi @nicoespeon,

sorry for not testing #287 earlier, I did not find the time. It works for me now, too.

Thanks,
Rolf

[2019-05-07 13:59] parmentelat opened #292 "Branch without commit doesn't show up"
**Describe the bug**

IMHO a branch that has no new commit yet should still show up

the following code creates 2 branches, but `devel` won't show up in the output image;
it is still a valid branch, as any git UI would show

**To Reproduce**
[code]

I do see this:

![image](https://user-images.githubusercontent.com/4519227/57304764-35da6080-70e0-11e9-8982-cc8bf49818f6.png)

**Expected behavior**

[2019-05-08 08:49] #285 closed

[2019-05-08 09:27] parmentelat opened #293 "Merging branch back should not create a commit, but fast-forward instead"
**Describe the bug**
in some configurations, merging 2 git branches does not result in an extra commit being created.

**To Reproduce**

start from this situation
![image](https://user-images.githubusercontent.com/4519227/57364561-bc944980-7183-11e9-990b-17a40b8d215a.png)

and then do `devel.merge(master); `

you will end with this
![image](https://user-images.githubusercontent.com/4519227/5736462